
# Import Aspect recommended Bazel convenience settings for all projects
import %workspace%/.aspect/bazelrc/convenience.bazelrc

# Import Aspect recommended Bazel correctness settings for all projects
import %workspace%/.aspect/bazelrc/correctness.bazelrc

# Import Aspect recommended Bazel performance settings for all projects
import %workspace%/.aspect/bazelrc/performance.bazelrc

# Import Aspect recommended Bazel debug settings for all projects
import %workspace%/.aspect/bazelrc/debug.bazelrc

# Import Aspect recommended Bazel javascript settings for all projects
import %workspace%/.aspect/bazelrc/javascript.bazelrc

build --action_env GH_TOKEN
build --action_env PATH
build --enable_runfiles
run --action_env WOOSMAP_PUBLIC_API_KEY
run --action_env WOOSMAP_PRIVATE_API_KEY

try-import %workspace%/.bazelrc.user

common --@aspect_rules_ts//ts:skipLibCheck=always
