openapi: "3.0.3"
info:
  title: Woosmap Platform API Reference
  description: >
    The Woosmap API is a RESTful API built on HTTP. It has predictable resource URLs. It returns HTTP response codes to indicate errors. It also accepts and returns JSON in the HTTP body. You can use your favorite HTTP/REST library for your programming language to use Woosmap's API, or you can use one of our Javascript SDKs for supported APIs:
      - [Localities JS](https://developers.woosmap.com/products/localities/localities-jsapi/get-started/) (for Localities API)
      - [MultiSearch JS](https://developers.woosmap.com/products/multisearch-lib/js/get-started/) (for Localities API, Address API and Store Search API)
      - [Store Locator JS](https://developers.woosmap.com/products/js-api/get-started/) (for Store Search API)


    You can use Postman to test the API (if you use the `PUBLIC_API_KEY` authentication, don't forget to set the `Referer` Header corresponding to one of your restricted domain name).


    [![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/18437534-dad12f37-6d84-42d1-9889-2f529aee0ab9?action=collection%2Ffork&collection-url=entityId%3D18437534-dad12f37-6d84-42d1-9889-2f529aee0ab9%26entityType%3Dcollection%26workspaceId%3Dwoosmap-public)

  termsOfService: "https://www.woosmap.com/en/policies/terms/"
  x-document-meta-data:
    copyright: "© 2022 Woosmap"
  version: 1.7.2
  contact:
    name: "Woosmap API"
servers:
  - url: "https://api.woosmap.com"
paths:
  $ref: "./paths/_index.yml"
components:
  parameters:
    $ref: "./parameters/_index.yml"
  schemas:
    $ref: "./schemas/_index.yml"
  securitySchemes:
    PrivateApiKeyAuth:
      description: A Private key generated specifically to authenticate API requests on server side. Required for Data management API. See how to [register a Private API Key](https://developers.woosmap.com/support/api-keys/#registering-a-woosmap-private-api-key).
      type: apiKey
      in: query
      name: private_key
    PublicApiKeyAuth:
      description: A Public key generated specifically to authenticate API requests on the front side. See how to [register a Public API Key](https://developers.woosmap.com/support/api-keys/#registering-a-woosmap-public-api-key).
      type: apiKey
      in: query
      name: key
    RefererHeader:
      description: The Referer HTTP request header is mandatory when using PublicApiKeyAuth. In browser environment, the Referer is set by the browser itself and cannot be overridden.
      type: apiKey
      in: header
      name: Referer

security:
  - PublicApiKeyAuth: []
    RefererHeader: []
  - PrivateApiKeyAuth: []
tags:
  - name: Store Search API
    description: >
      Stores Search API lets you query the Assets which are returned as a [GeoJson](https://geojson.org/).
      Request is done over HTTPS using GET.
      You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key.
      This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).
      If your request returns a high number of assets, the result will be paginated. If so, you can request assets by page using `page` and `stores_by_page` parameters (Default is **100**, max is **300**).
    externalDocs:
      url: https://developers.woosmap.com/products/search-api/get-started/
  - name: Data Management API
    description: >
      The Data Management API is a web service that uses an HTTP request to manage, create or edit your Assets.
      The API only supports JSON. So you have to create a JSON file with your assets’ addresses and other
      information. You’ll need to convert, or geocode, the addresses in your file to latitude/longitude (`lat` / `long`)
      coordinates. Those coordinates will be used for most of Woosmap features like [local searches](https://developers.woosmap.com/products/search-api/get-started/),
      [stores nearby a user location](https://developers.woosmap.com/products/geolocation-api/stores/) or for displaying markers on a map with
      [Woosmap Javascript API](https://developers.woosmap.com/products/js-api/get-started/).
    externalDocs:
      url: https://developers.woosmap.com/products/data-api/get-started/
  - name: Geolocation API
    description: >
      Geolocation API returns a location (or nearby stores) and accuracy radius based on an IP address.
      Request is done over HTTPS using GET. Response is formatted as JSON.
      You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key.
      This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).
    externalDocs:
      url: https://developers.woosmap.com/products/geolocation-api/location/
  - name: Localities API
    description: >
      Woosmap Localities API is a web service that returns a great amount of geographical places in response to an HTTP request. Among others are city names, postal codes, suburbs, addresses or airports.
      Request is done over HTTPS using GET. Response is formatted as JSON.
      You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key.
      This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).
    externalDocs:
      url: https://developers.woosmap.com/products/localities/get-started/
  - name: Address API
    description: >
      Woosmap Address API is a web service that returns addresses and other geographical places in response to an HTTP request.
      Request is done over HTTPS using GET. Response is formatted as JSON.
      You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key.
      This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).
    externalDocs:
      url: https://developers.woosmap.com/products/address-api/get-started/
  - name: Distance API
    description: >
      Woosmap Distance API is a service providing road travel distance and duration calculations, on a Worldwide scale.
      Request is done over HTTPS using GET or POST. Response is formatted as JSON.
      You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key.
      This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).
    externalDocs:
      url: https://developers.woosmap.com/products/distance-api/get-started/
  - name: Traffic API
    description: >
      Woosmap Traffic API (Early Access) is a service that provides travel distances and durations with traffic, on a Worldwide scale. Compared to the Woosmap Distance API, this API uses traffic information when returning duration times. 
      Request is done over HTTPS using GET or POST. Response is formatted as JSON.
      You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key.
      This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).
    externalDocs:
      url: https://developers.woosmap.com/products/traffic-api/get-started/
  - name: Merchants API
    description: >
      Woosmap Merchant API is a REST API aiming at cleaning “dirty” merchant names on transactions provided by a payment provider.
      It can be used to enrich end users’ transactions list by replacing hardly understandable labels with a commonly known merchant name along with their logo. Additionally, the API can provide a Google Maps Place ID.
      Request is done over HTTPS using GET or POST. Response is formatted as JSON.
      You must specify a key in your request, included as the value of a `private_key` parameter for your private key.
      This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).
    externalDocs:
      url: https://developers.woosmap.com/products/merchant-api/get-started/
  - name: Zones API
    description: >
      Woosmap Zones API is a web service that uses an HTTP request to manage, create or edit your Zones (polygons) attached to your assets.
      
      The general principle is that sometimes searching assets using crowfly distance is not good enough.
      For example to search the restaurant that will do the delivery for a specified address, each restaurant has a delivery zone and for topological or business reasons it’s not always the nearest restaurant in charge of your delivery.
      Woosmap Zones API allows you to associate a delivery zone to each of the restaurants.
    externalDocs:
      url: https://developers.woosmap.com/products/data-api/zones/
