{
  "openapi": "3.1.0",
  "info": {
    "title": "Woosmap Platform API Reference",
    "description": "The Woosmap API is a RESTful API built on HTTP. It has predictable resource URLs. It returns HTTP response codes to indicate errors. It also accepts and returns JSON in the HTTP body. You can use your favorite HTTP/REST library for your programming language to use Woosmap's API, or you can use one of our Javascript SDKs for supported APIs:\n  - [Map JS](https://developers.woosmap.com/products/map-api/get-started/) - support All APIs\n  - [Localities JS](https://developers.woosmap.com/products/localities/localities-jsapi/get-started/) - for Localities API\n  - [MultiSearch JS](https://developers.woosmap.com/products/multisearch-lib/js/get-started/) - for Localities API and Store Search API\n\nYou can use Postman to test the API (if you use the `PUBLIC_API_KEY` authentication, don't forget to set the `Referer` Header corresponding to one of your restricted domain name).\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/18437534-dad12f37-6d84-42d1-9889-2f529aee0ab9?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D18437534-dad12f37-6d84-42d1-9889-2f529aee0ab9%26entityType%3Dcollection%26workspaceId%3Dff0698d5-c4db-403e-b7c6-b622b68032d3)\n",
    "termsOfService": "https://www.woosmap.com/en/policies/terms/",
    "x-document-meta-data": {
      "copyright": "© 2025 Woosmap"
    },
    "version": "1.38.0",
    "contact": {
      "name": "Woosmap API"
    }
  },
  "servers": [
    {
      "url": "https://api.woosmap.com"
    }
  ],
  "tags": [
    {
      "name": "Store Search API",
      "description": "Stores Search API lets you query the Assets which are returned as a [GeoJson](https://geojson.org/). Request is done over HTTPS using GET. You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key. This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/). If your request returns a high number of assets, the result will be paginated. If so, you can request assets by page using `page` and `stores_by_page` parameters (Default is **100**, max is **300**).\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/search-api/get-started/"
      }
    },
    {
      "name": "Data Management API",
      "description": "The Data Management API is a web service that uses an HTTP request to manage, create or edit your Assets. The API only supports JSON. So you have to create a JSON file with your assets’ addresses and other information. You’ll need to convert, or geocode, the addresses in your file to latitude/longitude (`lat` / `long`) coordinates. Those coordinates will be used for most of Woosmap features like [local searches](https://developers.woosmap.com/products/search-api/get-started/), [stores nearby a user location](https://developers.woosmap.com/products/geolocation-api/stores/) or for displaying markers on a map with [Woosmap Javascript API](https://developers.woosmap.com/products/js-api/get-started/).\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/data-api/get-started/"
      }
    },
    {
      "name": "Geolocation API",
      "description": "Geolocation API returns a location (or nearby stores) and accuracy radius based on an IP address. Request is done over HTTPS using GET. Response is formatted as JSON. You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key. This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/geolocation-api/location/"
      }
    },
    {
      "name": "Localities API",
      "description": "Woosmap Localities API is a web service that returns a great amount of geographical places in response to an HTTP request. Among others are city names, postal codes, suburbs, addresses or airports. Request is done over HTTPS using GET. Response is formatted as JSON. You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key. This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/localities/get-started/"
      }
    },
    {
      "name": "Address API",
      "description": "Woosmap Address API is a web service that returns addresses and other geographical places in response to an HTTP request. Request is done over HTTPS using GET. Response is formatted as JSON. You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key. This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).\n>**⚠️ This API has been deprecated in favour of Localities API**\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/address-api/get-started/"
      }
    },
    {
      "name": "Zones API",
      "description": "Woosmap Zones API is a web service that uses an HTTP request to manage, create or edit your Zones (polygons) attached to your assets.\nThe general principle is that sometimes searching assets using crowfly distance is not good enough. For example to search the restaurant that will do the delivery for a specified address, each restaurant has a delivery zone and for topological or business reasons it’s not always the nearest restaurant in charge of your delivery. Woosmap Zones API allows you to associate a delivery zone to each of the restaurants.\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/data-api/zones/"
      }
    },
    {
      "name": "Static Map API",
      "description": "The Woosmap Static Maps API lets you generate customizable, embeddable map images using simple HTTP requests. It’s a lightweight alternative to interactive maps—ideal for emails, reports, or websites where dynamic JavaScript maps aren't needed.  \n\nYou provide parameters such as location, zoom level, size, and markers, and the API returns a map image that can be embedded directly into any webpage or application.\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/map-static-api/get-started/"
      }
    },
    {
      "name": "Woosmap for what3words API",
      "description": "Add What3Words capabilities to your address search."
    },
    {
      "name": "Indoor API",
      "description": "The Indoor API suite provides comprehensive tools for indoor mapping, search, and navigation in complex venues.\n\nThe Indoor Map API renders detailed floor plans with customizable styling, while the Indoor Search API enables\nprecise location searching through an intelligent POI engine with autocompletion capabilities.\n\nFor wayfinding, the Indoor Distance API calculates optimal routes between indoor points, delivering polylines\nand turn-by-turn instructions. Advanced features include custom routing profiles for different user types\n(staff, visitors, etc.) and seamless integration with external systems.\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/indoor-api/get-started/"
      }
    },
    {
      "name": "Transit API",
      "description": "The Transit API delivers comprehensive public transportation routing information by calculating optimal travel paths between \norigins and destinations. It provides detailed route data including distance, duration, polyline visualization, \nand complete step-by-step transit instructions with transfer points and transportation modes. The API is ideal for \napplications requiring accurate public transit navigation and trip planning capabilities.\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/transit-api/route-endpoint/"
      }
    },
    {
      "name": "Datasets API",
      "description": "Manage the full lifecycle of your geospatial data alongside powerful analysis and retrieval.\n\n* **Management:** Programmatically create datasets, import features in bulk (CSV/GeoJSON), and handle updates or deletions.\n* **Search:** Execute **Nearby**, **Contains**, **Intersects**, and **Within** queries using SQL-like `WHERE` filters.\n* **Features:** Direct access to individual geographic features by unique ID with field masking.              \n\nIdeal for applications that require precise location analysis, spatial queries and geographic data management.\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/datasets-api/get-started/"
      }
    },
    {
      "name": "Isochrone API",
      "description": "Woosmap Isochrone API is a service providing all destinations that can be reached in a specific amount of time or a maximum travel distance. Request is done over HTTPS using GET or POST. Response is formatted as JSON. You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key. This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/distance-api/features/isochrone/"
      }
    },
    {
      "name": "Tolls API",
      "description": "Woosmap Tolls API is a service providing toll costs and informations for an origin and destination pair. Request is done over HTTPS using GET or POST. Response is formatted as JSON. You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key. This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/distance-api/features/tolls/"
      }
    },
    {
      "name": "Route API",
      "description": "Woosmap Route API is a service providing road travel distance and duration calculations, on a Worldwide scale. Request is done over HTTPS using GET or POST. Response is formatted as JSON. You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key. This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/distance-api/features/route/"
      }
    },
    {
      "name": "Matrix API",
      "description": "Woosmap Matrix API is a service providing travel distance and time for a matrix of origins and destinations. Request is done over HTTPS using GET or POST. Response is formatted as JSON. You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key. This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/support/api-keys/).\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/distance-api/features/distancematrix/"
      }
    }
  ],
  "paths": {
    "/geolocation/position": {
      "get": {
        "summary": "Geolocation from an IP address",
        "operationId": "getGeolocationPosition",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Geolocation API"
        ],
        "description": "The `/position` returns JSON location of your users thanks to IP address of their devices.\n",
        "security": [
          {
            "Woosmap_Platform_API_Reference_PublicApiKeyAuth": [],
            "Woosmap_Platform_API_Reference_RefererHeader": []
          },
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyAuth": []
          },
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyHeaderAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Woosmap_Platform_API_Reference_ip_address"
          }
        ],
        "responses": {
          "200": {
            "description": "Geolocation successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_GeolocationResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Geolocation position for the IP `173.79.254.254`",
                    "value": {
                      "country_code": "US",
                      "country_name": "United States",
                      "continent": "North America",
                      "latitude": 38.719,
                      "longitude": -77.1067,
                      "viewport": {
                        "northeast": {
                          "lat": 38.763915764205976,
                          "lng": -77.0491321464058
                        },
                        "southwest": {
                          "lat": 38.674084235794034,
                          "lng": -77.16426785359421
                        }
                      },
                      "accuracy": 5,
                      "city": "Alexandria",
                      "region_state": "Virginia",
                      "postal_code": "22309",
                      "timezone": "America/New_York",
                      "raw_offset": -18000,
                      "dst_offset": 3600
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The rate limit for this endpoint has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error429"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 429",
                    "value": {
                      "detail": "The rate limit for this endpoint has been exceeded"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L 'https://api.woosmap.com/geolocation/position?private_key=YOUR_PRIVATE_API_KEY&ip_address=173.79.254.254'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const requestOptions = {\n  method: \"GET\",\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.woosmap.com/geolocation/position?private_key=YOUR_PRIVATE_API_KEY&ip_address=173.79.254.254\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.woosmap.com/geolocation/position?private_key=YOUR_PRIVATE_API_KEY&ip_address=173.79.254.254\"\n\npayload = {}\nheaders = {}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          }
        ]
      }
    },
    "/geolocation/stores": {
      "get": {
        "summary": "Assets nearby a Geolocation",
        "operationId": "getStoresFromGeolocationPosition",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Geolocation API"
        ],
        "description": "Retrieve the stores nearby an ip location. Stores are returned only if a relevant ip location is found - for an accuracy of 20km or less.\n",
        "security": [
          {
            "Woosmap_Platform_API_Reference_PublicApiKeyAuth": [],
            "Woosmap_Platform_API_Reference_RefererHeader": []
          },
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyAuth": []
          },
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyHeaderAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Woosmap_Platform_API_Reference_ip_address"
          },
          {
            "$ref": "#/components/parameters/Woosmap_Platform_API_Reference_limit"
          },
          {
            "$ref": "#/components/parameters/Woosmap_Platform_API_Reference_query"
          }
        ],
        "responses": {
          "200": {
            "description": "Geolocation and Stores successufully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_GeolocationStoresResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Geolocation Position and Stores for the IP `173.79.254.254`",
                    "value": {
                      "country_code": "US",
                      "country_name": "United States",
                      "continent": "North America",
                      "latitude": 38.719,
                      "longitude": -77.1067,
                      "viewport": {
                        "northeast": {
                          "lat": 38.763915764205976,
                          "lng": -77.0491321464058
                        },
                        "southwest": {
                          "lat": 38.674084235794034,
                          "lng": -77.16426785359421
                        }
                      },
                      "accuracy": 5,
                      "city": "Alexandria",
                      "region_state": "Virginia",
                      "postal_code": "22309",
                      "timezone": "America/New_York",
                      "raw_offset": -18000,
                      "dst_offset": 3600,
                      "stores": {
                        "type": "FeatureCollection",
                        "features": [
                          {
                            "type": "Feature",
                            "properties": {
                              "store_id": "STORE_ID_123456",
                              "name": "My Cool Store",
                              "contact": {
                                "email": "contact@woosmap.com",
                                "phone": "+44 20 7693 4000",
                                "website": "https://www.woosmap.com"
                              },
                              "address": {
                                "lines": [
                                  "Building Centre",
                                  "26 Store Street"
                                ],
                                "country_code": "UK",
                                "city": "London",
                                "zipcode": "WC1E 7BT"
                              },
                              "user_properties": {
                                "some_user_properties": "associated user value"
                              },
                              "tags": [
                                "wifi",
                                "covered_parking"
                              ],
                              "types": [
                                "drive",
                                "click_and_collect"
                              ],
                              "last_updated": "2025-09-16T08:49:42.523114+00:00",
                              "distance": 0,
                              "open": {
                                "open_now": true,
                                "open_hours": [
                                  {
                                    "end": "22:00",
                                    "start": "08:30"
                                  }
                                ],
                                "week_day": 2,
                                "current_slice": {
                                  "end": "22:00",
                                  "start": "08:30"
                                }
                              },
                              "weekly_opening": {
                                "1": {
                                  "hours": [],
                                  "isSpecial": false
                                },
                                "2": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "3": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "4": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "5": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "6": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "7": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "timezone": "Europe/London"
                              },
                              "opening_hours": {
                                "usual": {
                                  "1": [],
                                  "default": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ]
                                },
                                "special": {
                                  "2015-02-07": [
                                    {
                                      "end": "23:00",
                                      "start": "08:00"
                                    }
                                  ]
                                },
                                "timezone": "Europe/London"
                              }
                            },
                            "geometry": {
                              "type": "Point",
                              "coordinates": [
                                -77.1067,
                                38.719
                              ]
                            }
                          }
                        ],
                        "pagination": {
                          "page": 1,
                          "pageCount": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The rate limit for this endpoint has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error429"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 429",
                    "value": {
                      "detail": "The rate limit for this endpoint has been exceeded"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L 'https://api.woosmap.com/geolocation/stores?private_key=YOUR_PRIVATE_API_KEY&ip_address=173.79.254.254&limit=1'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const requestOptions = {\n  method: \"GET\",\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.woosmap.com/geolocation/stores?private_key=YOUR_PRIVATE_API_KEY&ip_address=173.79.254.254&limit=1\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.woosmap.com/geolocation/stores?private_key=YOUR_PRIVATE_API_KEY&ip_address=173.79.254.254&limit=1\"\n\npayload = {}\nheaders = {}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          }
        ]
      }
    },
    "/geolocation/timezone": {
      "get": {
        "summary": "Timezone",
        "operationId": "getTimezone",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Geolocation API"
        ],
        "description": "Returns timezone information based on the location, and optionally a timestamp for daylight saving time.\n> Note: rawOffset never contains the dst.\n",
        "security": [
          {
            "Woosmap_Platform_API_Reference_PublicApiKeyAuth": [],
            "Woosmap_Platform_API_Reference_RefererHeader": []
          },
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyAuth": []
          },
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyHeaderAuth": []
          }
        ],
        "parameters": [
          {
            "description": "The location {lat},{lng}",
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "description": "The UTC timestamp",
            "name": "timestamp",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timezone successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_TimezoneResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Timezone for 43.6, 3.883 location.",
                    "value": {
                      "timezone": "Europe/Paris",
                      "timezone_name": "CEST",
                      "raw_offset": 3600,
                      "dst_offset": 3600
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The rate limit for this endpoint has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error429"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 429",
                    "value": {
                      "detail": "The rate limit for this endpoint has been exceeded"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L 'https://api.woosmap.com/geolocation/timezone?private_key=YOUR_PRIVATE_API_KEY&location=43.6114130%2C3.8735291'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const requestOptions = {\n  method: \"GET\",\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.woosmap.com/geolocation/timezone?private_key=YOUR_PRIVATE_API_KEY&location=43.6114130%2C3.8735291\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.woosmap.com/geolocation/timezone?private_key=YOUR_PRIVATE_API_KEY&location=43.6114130%2C3.8735291\"\n\npayload = {}\nheaders = {}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          }
        ]
      }
    },
    "/stores": {
      "post": {
        "summary": "Create your Assets",
        "operationId": "createStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to batch create Assets to a specific project identified with the `private_key` parameter.\n",
        "security": [
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body must of Stores Creation be formatted as JSON.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_AssetsCollectionRequest"
              },
              "examples": {
                "default": {
                  "summary": "Stores data to create as JSON",
                  "value": {
                    "stores": [
                      {
                        "types": [
                          "drive",
                          "click_and_collect"
                        ],
                        "tags": [
                          "wifi",
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.719,
                          "lng": -77.1067
                        },
                        "storeId": "STORE_ID_123456",
                        "name": "My Cool Store",
                        "address": {
                          "lines": [
                            "Building Centre",
                            "26 Store Street"
                          ],
                          "countryCode": "UK",
                          "city": "London",
                          "zipcode": "WC1E 7BT"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "Europe/London",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          },
                          "special": {
                            "2015-02-07": [
                              {
                                "start": "08:00",
                                "end": "23:00"
                              }
                            ]
                          }
                        }
                      },
                      {
                        "types": [
                          "drive"
                        ],
                        "tags": [
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.5239,
                          "lng": -77.0157
                        },
                        "storeId": "STORE_ID_45678",
                        "name": "My Cool Store 2",
                        "address": {
                          "lines": [
                            "1805-1899",
                            "Orchard St"
                          ],
                          "countryCode": "US",
                          "city": "Alexandria",
                          "zipcode": "22309"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "America/New_York",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assets successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Success"
                },
                "examples": {
                  "default": {
                    "summary": "Success response for Stores Created",
                    "value": {
                      "status": "success",
                      "value": "2 stores"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid. The data is not a valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error400"
                },
                "examples": {
                  "Invalid": {
                    "summary": "Error 400",
                    "value": {
                      "status": "error",
                      "value": "The request is invalid, the data is not a valid JSON."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L 'https://api.woosmap.com/stores?private_key=YOUR_PRIVATE_API_KEY' \\\n-H 'content-type: application/json' \\\n--data-raw '{\n  \"stores\": [\n    {\n      \"types\": [\n        \"drive\",\n        \"click_and_collect\"\n      ],\n      \"tags\": [\n        \"wifi\",\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.719,\n        \"lng\": -77.1067\n      },\n      \"storeId\": \"STORE_ID_123456\",\n      \"name\": \"My Cool Store\",\n      \"address\": {\n        \"lines\": [\n          \"Building Centre\",\n          \"26 Store Street\"\n        ],\n        \"countryCode\": \"UK\",\n        \"city\": \"London\",\n        \"zipcode\": \"WC1E 7BT\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"Europe/London\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        },\n        \"special\": {\n          \"2015-02-07\": [\n            {\n              \"start\": \"08:00\",\n              \"end\": \"23:00\"\n            }\n          ]\n        }\n      }\n    },\n    {\n      \"types\": [\n        \"drive\"\n      ],\n      \"tags\": [\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.5239,\n        \"lng\": -77.0157\n      },\n      \"storeId\": \"STORE_ID_45678\",\n      \"name\": \"My Cool Store 2\",\n      \"address\": {\n        \"lines\": [\n          \"1805-1899\",\n          \"Orchard St\"\n        ],\n        \"countryCode\": \"US\",\n        \"city\": \"Alexandria\",\n        \"zipcode\": \"22309\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"America/New_York\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://api.woosmap.com/stores?private_key=YOUR_PRIVATE_API_KEY\"\n\npayload = json.dumps({\n    \"stores\": [\n        {\n            \"types\": [\n                \"drive\",\n                \"click_and_collect\"\n            ],\n            \"tags\": [\n                \"wifi\",\n                \"covered_parking\"\n            ],\n            \"location\": {\n                \"lat\": 38.719,\n                \"lng\": -77.1067\n            },\n            \"storeId\": \"STORE_ID_123456\",\n            \"name\": \"My Cool Store\",\n            \"address\": {\n                \"lines\": [\n                    \"Building Centre\",\n                    \"26 Store Street\"\n                ],\n                \"countryCode\": \"UK\",\n                \"city\": \"London\",\n                \"zipcode\": \"WC1E 7BT\"\n            },\n            \"contact\": {\n                \"website\": \"https://www.woosmap.com\",\n                \"phone\": \"+44 20 7693 4000\",\n                \"email\": \"contact@woosmap.com\"\n            },\n            \"userProperties\": {\n                \"some_user_properties\": \"associated user value\"\n            },\n            \"openingHours\": {\n                \"timezone\": \"Europe/London\",\n                \"usual\": {\n                    \"1\": [],\n                    \"default\": [\n                        {\n                            \"start\": \"08:30\",\n                            \"end\": \"22:00\"\n                        }\n                    ]\n                },\n                \"special\": {\n                    \"2015-02-07\": [\n                        {\n                            \"start\": \"08:00\",\n                            \"end\": \"23:00\"\n                        }\n                    ]\n                }\n            }\n        },\n        {\n            \"types\": [\n                \"drive\"\n            ],\n            \"tags\": [\n                \"covered_parking\"\n            ],\n            \"location\": {\n                \"lat\": 38.5239,\n                \"lng\": -77.0157\n            },\n            \"storeId\": \"STORE_ID_45678\",\n            \"name\": \"My Cool Store 2\",\n            \"address\": {\n                \"lines\": [\n                    \"1805-1899\",\n                    \"Orchard St\"\n                ],\n                \"countryCode\": \"US\",\n                \"city\": \"Alexandria\",\n                \"zipcode\": \"22309\"\n            },\n            \"contact\": {\n                \"website\": \"https://www.woosmap.com\",\n                \"phone\": \"+44 20 7693 4000\",\n                \"email\": \"contact@woosmap.com\"\n            },\n            \"userProperties\": {\n                \"some_user_properties\": \"associated user value\"\n            },\n            \"openingHours\": {\n                \"timezone\": \"America/New_York\",\n                \"usual\": {\n                    \"1\": [],\n                    \"default\": [\n                        {\n                            \"start\": \"08:30\",\n                            \"end\": \"22:00\"\n                        }\n                    ]\n                }\n            }\n        }\n    ]\n})\nheaders = {\n    'content-type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "nodejs",
            "label": "NodeJS",
            "source": "const axios = require('axios');\nlet data = JSON.stringify({\n  \"stores\": [\n    {\n      \"types\": [\n        \"drive\",\n        \"click_and_collect\"\n      ],\n      \"tags\": [\n        \"wifi\",\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.719,\n        \"lng\": -77.1067\n      },\n      \"storeId\": \"STORE_ID_123456\",\n      \"name\": \"My Cool Store\",\n      \"address\": {\n        \"lines\": [\n          \"Building Centre\",\n          \"26 Store Street\"\n        ],\n        \"countryCode\": \"UK\",\n        \"city\": \"London\",\n        \"zipcode\": \"WC1E 7BT\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"Europe/London\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        },\n        \"special\": {\n          \"2015-02-07\": [\n            {\n              \"start\": \"08:00\",\n              \"end\": \"23:00\"\n            }\n          ]\n        }\n      }\n    },\n    {\n      \"types\": [\n        \"drive\"\n      ],\n      \"tags\": [\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.5239,\n        \"lng\": -77.0157\n      },\n      \"storeId\": \"STORE_ID_45678\",\n      \"name\": \"My Cool Store 2\",\n      \"address\": {\n        \"lines\": [\n          \"1805-1899\",\n          \"Orchard St\"\n        ],\n        \"countryCode\": \"US\",\n        \"city\": \"Alexandria\",\n        \"zipcode\": \"22309\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"America/New_York\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n});\n\nlet config = {\n  method: 'post',\n  maxBodyLength: Infinity,\n  url: 'https://api.woosmap.com/stores?private_key=YOUR_PRIVATE_API_KEY',\n  headers: { \n    'content-type': 'application/json'\n  },\n  data : data\n};\n\naxios.request(config)\n.then((response) => {\n  console.log(JSON.stringify(response.data));\n})\n.catch((error) => {\n  console.log(error);\n});\n"
          }
        ]
      },
      "put": {
        "summary": "Update the Assets",
        "operationId": "updateStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to update assets in batch. `storeId` must exists when using `PUT` method, if one asset does not exists, the batch will be refused.",
        "security": [
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body of Stores Update must be formatted as JSON.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_AssetsCollectionRequest"
              },
              "examples": {
                "default": {
                  "summary": "Stores data to update as JSON",
                  "value": {
                    "stores": [
                      {
                        "types": [
                          "drive",
                          "click_and_collect"
                        ],
                        "tags": [
                          "wifi",
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.719,
                          "lng": -77.1067
                        },
                        "storeId": "STORE_ID_123456",
                        "name": "My Cool Store",
                        "address": {
                          "lines": [
                            "698-500",
                            " Lloyds Ln"
                          ],
                          "countryCode": "US",
                          "city": "Alexandria",
                          "zipcode": "VA 22302"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "Europe/London",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          },
                          "special": {
                            "2015-02-07": [
                              {
                                "start": "08:00",
                                "end": "23:00"
                              }
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assets successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Success"
                },
                "examples": {
                  "default": {
                    "summary": "Success response for Stores updated",
                    "value": {
                      "status": "success",
                      "value": "1 stores"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid. The data is not a valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error400"
                },
                "examples": {
                  "Invalid": {
                    "summary": "Error 400",
                    "value": {
                      "status": "error",
                      "value": "The request is invalid, the data is not a valid JSON."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L -X PUT 'https://api.woosmap.com/stores?private_key=YOUR_PRIVATE_API_KEY' \\\n-H 'content-type: application/json' \\\n--data-raw '{\n  \"stores\": [\n    {\n      \"types\": [\n        \"drive\",\n        \"click_and_collect\"\n      ],\n      \"tags\": [\n        \"wifi\",\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.719,\n        \"lng\": -77.1067\n      },\n      \"storeId\": \"STORE_ID_123456\",\n      \"name\": \"My Cool Store\",\n      \"address\": {\n        \"lines\": [\n          \"698-500\",\n          \" Lloyds Ln\"\n        ],\n        \"countryCode\": \"US\",\n        \"city\": \"Alexandria\",\n        \"zipcode\": \"VA 22302\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"Europe/London\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        },\n        \"special\": {\n          \"2015-02-07\": [\n            {\n              \"start\": \"08:00\",\n              \"end\": \"23:00\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://api.woosmap.com/stores?private_key=YOUR_PRIVATE_API_KEY\"\n\npayload = json.dumps({\n    \"stores\": [\n        {\n            \"types\": [\n                \"drive\",\n                \"click_and_collect\"\n            ],\n            \"tags\": [\n                \"wifi\",\n                \"covered_parking\"\n            ],\n            \"location\": {\n                \"lat\": 38.719,\n                \"lng\": -77.1067\n            },\n            \"storeId\": \"STORE_ID_123456\",\n            \"name\": \"My Cool Store\",\n            \"address\": {\n                \"lines\": [\n                    \"698-500\",\n                    \" Lloyds Ln\"\n                ],\n                \"countryCode\": \"US\",\n                \"city\": \"Alexandria\",\n                \"zipcode\": \"VA 22302\"\n            },\n            \"contact\": {\n                \"website\": \"https://www.woosmap.com\",\n                \"phone\": \"+44 20 7693 4000\",\n                \"email\": \"contact@woosmap.com\"\n            },\n            \"userProperties\": {\n                \"some_user_properties\": \"associated user value\"\n            },\n            \"openingHours\": {\n                \"timezone\": \"Europe/London\",\n                \"usual\": {\n                    \"1\": [],\n                    \"default\": [\n                        {\n                            \"start\": \"08:30\",\n                            \"end\": \"22:00\"\n                        }\n                    ]\n                },\n                \"special\": {\n                    \"2015-02-07\": [\n                        {\n                            \"start\": \"08:00\",\n                            \"end\": \"23:00\"\n                        }\n                    ]\n                }\n            }\n        }\n    ]\n})\nheaders = {\n    'content-type': 'application/json'\n}\n\nresponse = requests.request(\"PUT\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "nodejs",
            "label": "NodeJS",
            "source": "const axios = require('axios');\nlet data = JSON.stringify({\n  \"stores\": [\n    {\n      \"types\": [\n        \"drive\",\n        \"click_and_collect\"\n      ],\n      \"tags\": [\n        \"wifi\",\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.719,\n        \"lng\": -77.1067\n      },\n      \"storeId\": \"STORE_ID_123456\",\n      \"name\": \"My Cool Store\",\n      \"address\": {\n        \"lines\": [\n          \"698-500\",\n          \" Lloyds Ln\"\n        ],\n        \"countryCode\": \"US\",\n        \"city\": \"Alexandria\",\n        \"zipcode\": \"VA 22302\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"Europe/London\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        },\n        \"special\": {\n          \"2015-02-07\": [\n            {\n              \"start\": \"08:00\",\n              \"end\": \"23:00\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n});\n\nlet config = {\n  method: 'put',\n  maxBodyLength: Infinity,\n  url: 'https://api.woosmap.com/stores?private_key=YOUR_PRIVATE_API_KEY',\n  headers: { \n    'content-type': 'application/json'\n  },\n  data : data\n};\n\naxios.request(config)\n.then((response) => {\n  console.log(JSON.stringify(response.data));\n})\n.catch((error) => {\n  console.log(error);\n});\n"
          }
        ]
      },
      "delete": {
        "summary": "Delete the Assets",
        "operationId": "deleteStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to delete one or more assets. The `storeId` specified in `query` parameter is the id of the asset to delete. To delete several assets, use the comma as a separator. To delete all project assets, omit the `query` parameter.\n",
        "security": [
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "description": "The query to target assets ID to delete",
            "in": "query",
            "example": "idstore:[{storeId1},{storeId2}]",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assets successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Success"
                },
                "examples": {
                  "default": {
                    "summary": "Success response for Stores deleted",
                    "value": {
                      "status": "success",
                      "value": 2
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L -X DELETE 'https://api.woosmap.com/stores/?private_key=YOUR_PRIVATE_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.woosmap.com/stores/?private_key=YOUR_PRIVATE_API_KEY\"\n\npayload = {}\nheaders = {}\n\nresponse = requests.request(\"DELETE\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "nodejs",
            "label": "NodeJS",
            "source": "const axios = require('axios');\n\nlet config = {\n  method: 'delete',\n  maxBodyLength: Infinity,\n  url: 'https://api.woosmap.com/stores/?private_key=YOUR_PRIVATE_API_KEY',\n  headers: { }\n};\n\naxios.request(config)\n.then((response) => {\n  console.log(JSON.stringify(response.data));\n})\n.catch((error) => {\n  console.log(error);\n});\n"
          }
        ]
      }
    },
    "/stores/{storeId}": {
      "get": {
        "summary": "Get Asset from ID",
        "operationId": "getStore",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to retrieve an asset from his `storeId`\n",
        "security": [
          {
            "Woosmap_Platform_API_Reference_PublicApiKeyAuth": [],
            "Woosmap_Platform_API_Reference_RefererHeader": []
          },
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyAuth": []
          },
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyHeaderAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "STORE_ID_123456",
            "description": "ID of the asset to get"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_AssetFeatureResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Get a store from its store_id",
                    "value": {
                      "type": "Feature",
                      "properties": {
                        "store_id": "10031",
                        "name": "Santa Rosa & Yolanda",
                        "contact": {
                          "phone": "707-527-1006",
                          "website": "https://www.starbucks.com/store-locator/store/10031/santa-rosa-yolanda-2688-santa-rosa-ave-santa-rosa-ca-954077625-us"
                        },
                        "address": {
                          "lines": [
                            "2688 Santa Rosa Ave",
                            "Santa Rosa, CA 95407"
                          ],
                          "country_code": "US",
                          "city": "Santa Rosa",
                          "zipcode": "954077625"
                        },
                        "user_properties": {
                          "take_away": "available"
                        },
                        "tags": [
                          "DT",
                          "WA",
                          "CD",
                          "DR",
                          "LB",
                          "GO",
                          "XO",
                          "MX",
                          "NB",
                          "BE",
                          "LU"
                        ],
                        "types": [
                          "Coffee shop"
                        ],
                        "last_updated": "2022-11-10T13:26:55.066524+00:00",
                        "open": {
                          "open_now": false,
                          "open_hours": [
                            {
                              "end": "20:00",
                              "start": "05:00"
                            }
                          ],
                          "week_day": 2,
                          "next_opening": {
                            "day": "2025-09-16",
                            "start": "05:00",
                            "end": "20:00"
                          }
                        },
                        "weekly_opening": {
                          "1": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "2": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "3": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "4": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "5": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "6": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "7": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "timezone": "America/Los_Angeles"
                        },
                        "opening_hours": {
                          "usual": {
                            "1": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "2": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "3": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "4": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "5": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "6": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "7": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ]
                          },
                          "special": {},
                          "timezone": "America/Los_Angeles"
                        }
                      },
                      "geometry": {
                        "type": "Point",
                        "coordinates": [
                          -122.712924,
                          38.41244
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - `storeId` do not exist."
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L 'https://api.woosmap.com/stores/10031/?key=YOUR_PUBLIC_API_KEY' \\\n-H 'Referer: http://localhost'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const requestOptions = {\n  method: \"GET\",\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.woosmap.com/stores/10031/?key=YOUR_PUBLIC_API_KEY\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.woosmap.com/stores/10031/?key=YOUR_PUBLIC_API_KEY\"\n\npayload = {}\nheaders = {\n    'Referer': 'http://localhost'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          }
        ]
      }
    },
    "/stores/replace": {
      "post": {
        "summary": "Replace all assets",
        "operationId": "replaceStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "To replace all your Assets. This endpoint will delete all previous assets and import assets in request body. During the operation previous assets could always be displayed on map. If the import failed previous assets are not deleted.",
        "security": [
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body of Stores Replace must be formatted as JSON.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_AssetsCollectionRequest"
              },
              "examples": {
                "default": {
                  "summary": "Stores Data to replace as JSON",
                  "value": {
                    "stores": [
                      {
                        "types": [
                          "drive",
                          "click_and_collect"
                        ],
                        "tags": [
                          "wifi",
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.719,
                          "lng": -77.1067
                        },
                        "storeId": "STORE_ID_123456",
                        "name": "My Cool Store",
                        "address": {
                          "lines": [
                            "Building Centre",
                            "26 Store Street"
                          ],
                          "countryCode": "UK",
                          "city": "London",
                          "zipcode": "WC1E 7BT"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "Europe/London",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          },
                          "special": {
                            "2015-02-07": [
                              {
                                "start": "08:00",
                                "end": "23:00"
                              }
                            ]
                          }
                        }
                      },
                      {
                        "types": [
                          "drive"
                        ],
                        "tags": [
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.5239,
                          "lng": -77.0157
                        },
                        "storeId": "STORE_ID_45678",
                        "name": "My Cool Store 2",
                        "address": {
                          "lines": [
                            "1805-1899",
                            "Orchard St"
                          ],
                          "countryCode": "US",
                          "city": "Alexandria",
                          "zipcode": "22309"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "America/New_York",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assets successfully replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Success"
                },
                "examples": {
                  "default": {
                    "summary": "Success response for Stores replaced",
                    "value": {
                      "status": "success",
                      "value": "2 stores deleted, 2 stores created"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid. The data is not a valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error400"
                },
                "examples": {
                  "Invalid": {
                    "summary": "Error 400",
                    "value": {
                      "status": "error",
                      "value": "The request is invalid, the data is not a valid JSON."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L 'https://api.woosmap.com/stores/replace?private_key=YOUR_PRIVATE_API_KEY' \\\n-H 'content-type: application/json' \\\n--data-raw '{\n  \"stores\": [\n    {\n      \"types\": [\n        \"drive\",\n        \"click_and_collect\"\n      ],\n      \"tags\": [\n        \"wifi\",\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.719,\n        \"lng\": -77.1067\n      },\n      \"storeId\": \"STORE_ID_123456\",\n      \"name\": \"My Cool Store\",\n      \"address\": {\n        \"lines\": [\n          \"Building Centre\",\n          \"26 Store Street\"\n        ],\n        \"countryCode\": \"UK\",\n        \"city\": \"London\",\n        \"zipcode\": \"WC1E 7BT\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"Europe/London\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        },\n        \"special\": {\n          \"2015-02-07\": [\n            {\n              \"start\": \"08:00\",\n              \"end\": \"23:00\"\n            }\n          ]\n        }\n      }\n    },\n    {\n      \"types\": [\n        \"drive\"\n      ],\n      \"tags\": [\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.5239,\n        \"lng\": -77.0157\n      },\n      \"storeId\": \"STORE_ID_45678\",\n      \"name\": \"My Cool Store 2\",\n      \"address\": {\n        \"lines\": [\n          \"1805-1899\",\n          \"Orchard St\"\n        ],\n        \"countryCode\": \"US\",\n        \"city\": \"Alexandria\",\n        \"zipcode\": \"22309\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"America/New_York\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://api.woosmap.com/stores/replace?private_key=YOUR_PRIVATE_API_KEY\"\n\npayload = json.dumps({\n    \"stores\": [\n        {\n            \"types\": [\n                \"drive\",\n                \"click_and_collect\"\n            ],\n            \"tags\": [\n                \"wifi\",\n                \"covered_parking\"\n            ],\n            \"location\": {\n                \"lat\": 38.719,\n                \"lng\": -77.1067\n            },\n            \"storeId\": \"STORE_ID_123456\",\n            \"name\": \"My Cool Store\",\n            \"address\": {\n                \"lines\": [\n                    \"Building Centre\",\n                    \"26 Store Street\"\n                ],\n                \"countryCode\": \"UK\",\n                \"city\": \"London\",\n                \"zipcode\": \"WC1E 7BT\"\n            },\n            \"contact\": {\n                \"website\": \"https://www.woosmap.com\",\n                \"phone\": \"+44 20 7693 4000\",\n                \"email\": \"contact@woosmap.com\"\n            },\n            \"userProperties\": {\n                \"some_user_properties\": \"associated user value\"\n            },\n            \"openingHours\": {\n                \"timezone\": \"Europe/London\",\n                \"usual\": {\n                    \"1\": [],\n                    \"default\": [\n                        {\n                            \"start\": \"08:30\",\n                            \"end\": \"22:00\"\n                        }\n                    ]\n                },\n                \"special\": {\n                    \"2015-02-07\": [\n                        {\n                            \"start\": \"08:00\",\n                            \"end\": \"23:00\"\n                        }\n                    ]\n                }\n            }\n        },\n        {\n            \"types\": [\n                \"drive\"\n            ],\n            \"tags\": [\n                \"covered_parking\"\n            ],\n            \"location\": {\n                \"lat\": 38.5239,\n                \"lng\": -77.0157\n            },\n            \"storeId\": \"STORE_ID_45678\",\n            \"name\": \"My Cool Store 2\",\n            \"address\": {\n                \"lines\": [\n                    \"1805-1899\",\n                    \"Orchard St\"\n                ],\n                \"countryCode\": \"US\",\n                \"city\": \"Alexandria\",\n                \"zipcode\": \"22309\"\n            },\n            \"contact\": {\n                \"website\": \"https://www.woosmap.com\",\n                \"phone\": \"+44 20 7693 4000\",\n                \"email\": \"contact@woosmap.com\"\n            },\n            \"userProperties\": {\n                \"some_user_properties\": \"associated user value\"\n            },\n            \"openingHours\": {\n                \"timezone\": \"America/New_York\",\n                \"usual\": {\n                    \"1\": [],\n                    \"default\": [\n                        {\n                            \"start\": \"08:30\",\n                            \"end\": \"22:00\"\n                        }\n                    ]\n                }\n            }\n        }\n    ]\n})\nheaders = {\n    'content-type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "nodejs",
            "label": "NodeJS",
            "source": "const axios = require('axios');\nlet data = JSON.stringify({\n  \"stores\": [\n    {\n      \"types\": [\n        \"drive\",\n        \"click_and_collect\"\n      ],\n      \"tags\": [\n        \"wifi\",\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.719,\n        \"lng\": -77.1067\n      },\n      \"storeId\": \"STORE_ID_123456\",\n      \"name\": \"My Cool Store\",\n      \"address\": {\n        \"lines\": [\n          \"Building Centre\",\n          \"26 Store Street\"\n        ],\n        \"countryCode\": \"UK\",\n        \"city\": \"London\",\n        \"zipcode\": \"WC1E 7BT\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"Europe/London\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        },\n        \"special\": {\n          \"2015-02-07\": [\n            {\n              \"start\": \"08:00\",\n              \"end\": \"23:00\"\n            }\n          ]\n        }\n      }\n    },\n    {\n      \"types\": [\n        \"drive\"\n      ],\n      \"tags\": [\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.5239,\n        \"lng\": -77.0157\n      },\n      \"storeId\": \"STORE_ID_45678\",\n      \"name\": \"My Cool Store 2\",\n      \"address\": {\n        \"lines\": [\n          \"1805-1899\",\n          \"Orchard St\"\n        ],\n        \"countryCode\": \"US\",\n        \"city\": \"Alexandria\",\n        \"zipcode\": \"22309\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"America/New_York\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n});\n\nlet config = {\n  method: 'post',\n  maxBodyLength: Infinity,\n  url: 'https://api.woosmap.com/stores/replace?private_key=YOUR_PRIVATE_API_KEY',\n  headers: { \n    'content-type': 'application/json'\n  },\n  data : data\n};\n\naxios.request(config)\n.then((response) => {\n  console.log(JSON.stringify(response.data));\n})\n.catch((error) => {\n  console.log(error);\n});\n"
          }
        ]
      }
    },
    "/stores/search": {
      "get": {
        "summary": "Search for assets",
        "operationId": "storeSearch",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Store Search API"
        ],
        "description": "Used to retrieve assets from query.\n",
        "security": [
          {
            "Woosmap_Platform_API_Reference_PublicApiKeyAuth": [],
            "Woosmap_Platform_API_Reference_RefererHeader": []
          },
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyAuth": []
          },
          {
            "Woosmap_Platform_API_Reference_PrivateApiKeyHeaderAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Woosmap_Platform_API_Reference_query"
          },
          {
            "$ref": "#/components/parameters/Woosmap_Platform_API_Reference_lat"
          },
          {
            "$ref": "#/components/parameters/Woosmap_Platform_API_Reference_lng"
          },
          {
            "$ref": "#/components/parameters/Woosmap_Platform_API_Reference_radius"
          },
          {
            "$ref": "#/components/parameters/Woosmap_Platform_API_Reference_encoded_polyline"
          },
          {
            "$ref": "#/components/parameters/Woosmap_Platform_API_Reference_stores_by_page"
          },
          {
            "$ref": "#/components/parameters/Woosmap_Platform_API_Reference_page"
          },
          {
            "$ref": "#/components/parameters/Woosmap_Platform_API_Reference_zone"
          }
        ],
        "responses": {
          "200": {
            "description": "Assets successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Woosmap_Platform_API_Reference_AssetFeatureCollectionResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Search stores nearby a latlng and given a radius",
                    "value": {
                      "type": "FeatureCollection",
                      "features": [
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "2354",
                            "name": "Berkeley Street/Berkeley Square",
                            "contact": {
                              "phone": "02076295779",
                              "website": "https://www.starbucks.com/store-locator/store/2354/berkeley-street-berkeley-square-27-berkeley-st-berkeley-square-london-eng-w-1-x-5-"
                            },
                            "address": {
                              "lines": [
                                "27 Berkeley St",
                                "London, ENG W1X 5AD"
                              ],
                              "country_code": "GB",
                              "city": "London",
                              "zipcode": "W1X 5AD"
                            },
                            "user_properties": {
                              "take_away": "available"
                            },
                            "tags": [
                              "WA",
                              "WF",
                              "CD",
                              "DR",
                              "XO"
                            ],
                            "types": [
                              "Coffee shop"
                            ],
                            "last_updated": "2022-11-10T13:23:53.564829+00:00",
                            "distance": 135.28682936,
                            "open": {
                              "open_now": true,
                              "open_hours": [
                                {
                                  "end": "18:00",
                                  "start": "06:30"
                                }
                              ],
                              "week_day": 2,
                              "current_slice": {
                                "end": "18:00",
                                "start": "06:30"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "18:00",
[...]
