{
  "openapi": "3.1.0",
  "info": {
    "title": "Woosmap Platform API Reference",
    "description": "The Woosmap API is a RESTful API built on HTTP. It has predictable resource URLs. It returns HTTP response codes to indicate errors. It also accepts and returns JSON in the HTTP body. You can use your favorite HTTP/REST library for your programming language to use Woosmap's API, or you can use one of our Javascript SDKs for supported APIs:\n  - [Map JS](https://developers.woosmap.com/products/map-api/get-started/) - support All APIs\n  - [Localities JS](https://developers.woosmap.com/products/localities/localities-jsapi/get-started/) - for Localities API\n  - [MultiSearch JS](https://developers.woosmap.com/products/multisearch-lib/js/get-started/) - for Localities API and Stores API\n\nYou can use Postman to test the API (if you use the `PUBLIC_API_KEY` authentication, don't forget to set the `Referer` Header corresponding to one of your restricted domain name).\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/18437534-dad12f37-6d84-42d1-9889-2f529aee0ab9?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D18437534-dad12f37-6d84-42d1-9889-2f529aee0ab9%26entityType%3Dcollection%26workspaceId%3Dff0698d5-c4db-403e-b7c6-b622b68032d3)\n",
    "termsOfService": "https://www.woosmap.com/en/policies/terms/",
    "x-document-meta-data": {
      "copyright": "© 2025 Woosmap"
    },
    "version": "1.44.1",
    "contact": {
      "name": "Woosmap API"
    }
  },
  "servers": [
    {
      "url": "https://api.woosmap.com"
    }
  ],
  "security": [
    {
      "PublicApiKeyAuth": [],
      "RefererHeader": []
    },
    {
      "PrivateApiKeyAuth": []
    },
    {
      "PrivateApiKeyHeaderAuth": []
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Store Search lets you query the Assets which are returned as a [GeoJson](https://geojson.org/). Request is done over HTTPS using GET. You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key. This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/api-reference/authentication). If your request returns a high number of assets, the result will be paginated. If so, you can request assets by page using `page` and `stores_by_page` parameters (Default is **100**, max is **300**).\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/stores-api/overview/"
      }
    },
    {
      "name": "Data Management",
      "description": "Manage the store and asset data within your Woosmap project. It provides full CRUD (Create, Read, Update, Delete) operations through standard HTTP methods, supporting batch imports up to 15MB, along with an atomic replace operation for swapping entire datasets without downtime.\nThis endpoint handles the complete lifecycle of your location data. You can add new assets in batch using POST, update existing assets with PUT, retrieve assets as GeoJSON with GET, remove individual or all assets with DELETE, and atomically replace your entire dataset using the replace operation. All write operations accept JSON payloads containing an array of store objects, each with a unique storeId, name, and geographic coordinates.\n\n``` POST|GET|PUT|DELETE https://api.woosmap.com/stores ```\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/stores-api/overview/"
      }
    },
    {
      "name": "Zones",
      "description": "The Zones Endpoint lets you associate geographic polygons (zones) with your stores and then search for stores whose zone contains a specific point. Unlike distance-based search, which relies on straight-line proximity, zone-based search accounts for real-world boundaries like delivery areas, service regions, or franchise territories.\nZone management provides a full set of CRUD operations: import zones in bulk, update existing zones, list all zones in your project, retrieve or delete individual zones by ID, and remove all zones at once. Each zone links a polygon (defined in WKT format) to a specific store via store_id and zone_id.\n\nOnce zones are imported, you can search for stores by adding `zone=true` to your Search request. The API returns stores whose zone polygon intersects the queried location rather than the nearest stores by distance.\n\n``` https://api.woosmap.com/zones ```\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/stores-api/overview/"
      }
    },
    {
      "name": "Geolocation API",
      "description": "Geolocation API returns a location (or nearby stores) and accuracy radius based on an IP address. Request is done over HTTPS using GET. Response is formatted as JSON. You must specify a key in your request, included as the value of a `key` parameter for your public key or `private_key` for your private key. This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.woosmap.com/api-reference/authentication).\n",
      "externalDocs": {
        "url": "https://developers.woosmap.com/products/geolocation-api/location/"
      }
    }
  ],
  "paths": {
    "/geolocation/position": {
      "get": {
        "summary": "Geolocation from an IP address",
        "operationId": "getGeolocationPosition",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Geolocation API"
        ],
        "description": "The `/position` returns JSON location of your users thanks to IP address of their devices.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          },
          {
            "PrivateApiKeyHeaderAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ip_address"
          }
        ],
        "responses": {
          "200": {
            "description": "Geolocation successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Geolocation position for the IP `173.79.254.254`",
                    "value": {
                      "country_code": "US",
                      "country_name": "United States",
                      "continent": "North America",
                      "latitude": 38.719,
                      "longitude": -77.1067,
                      "viewport": {
                        "northeast": {
                          "lat": 38.763915764205976,
                          "lng": -77.0491321464058
                        },
                        "southwest": {
                          "lat": 38.674084235794034,
                          "lng": -77.16426785359421
                        }
                      },
                      "accuracy": 5,
                      "city": "Alexandria",
                      "region_state": "Virginia",
                      "postal_code": "22309",
                      "timezone": "America/New_York",
                      "raw_offset": -18000,
                      "dst_offset": 3600
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The rate limit for this endpoint has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 429",
                    "value": {
                      "detail": "The rate limit for this endpoint has been exceeded"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L 'https://api.woosmap.com/geolocation/position?private_key=YOUR_PRIVATE_API_KEY&ip_address=173.79.254.254'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const requestOptions = {\n  method: \"GET\",\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.woosmap.com/geolocation/position?private_key=YOUR_PRIVATE_API_KEY&ip_address=173.79.254.254\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.woosmap.com/geolocation/position?private_key=YOUR_PRIVATE_API_KEY&ip_address=173.79.254.254\"\n\npayload = {}\nheaders = {}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          }
        ]
      }
    },
    "/geolocation/stores": {
      "get": {
        "summary": "Assets nearby a Geolocation",
        "operationId": "getStoresFromGeolocationPosition",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Geolocation API"
        ],
        "description": "Retrieve the stores nearby an ip location. Stores are returned only if a relevant ip location is found - for an accuracy of 20km or less.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          },
          {
            "PrivateApiKeyHeaderAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ip_address"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/query"
          }
        ],
        "responses": {
          "200": {
            "description": "Geolocation and Stores successufully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationStoresResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Geolocation Position and Stores for the IP `173.79.254.254`",
                    "value": {
                      "country_code": "US",
                      "country_name": "United States",
                      "continent": "North America",
                      "latitude": 38.719,
                      "longitude": -77.1067,
                      "viewport": {
                        "northeast": {
                          "lat": 38.763915764205976,
                          "lng": -77.0491321464058
                        },
                        "southwest": {
                          "lat": 38.674084235794034,
                          "lng": -77.16426785359421
                        }
                      },
                      "accuracy": 5,
                      "city": "Alexandria",
                      "region_state": "Virginia",
                      "postal_code": "22309",
                      "timezone": "America/New_York",
                      "raw_offset": -18000,
                      "dst_offset": 3600,
                      "stores": {
                        "type": "FeatureCollection",
                        "features": [
                          {
                            "type": "Feature",
                            "properties": {
                              "store_id": "STORE_ID_123456",
                              "name": "My Cool Store",
                              "contact": {
                                "email": "contact@woosmap.com",
                                "phone": "+44 20 7693 4000",
                                "website": "https://www.woosmap.com"
                              },
                              "address": {
                                "lines": [
                                  "Building Centre",
                                  "26 Store Street"
                                ],
                                "country_code": "UK",
                                "city": "London",
                                "zipcode": "WC1E 7BT"
                              },
                              "user_properties": {
                                "some_user_properties": "associated user value"
                              },
                              "tags": [
                                "wifi",
                                "covered_parking"
                              ],
                              "types": [
                                "drive",
                                "click_and_collect"
                              ],
                              "last_updated": "2025-09-16T08:49:42.523114+00:00",
                              "distance": 0,
                              "open": {
                                "open_now": true,
                                "open_hours": [
                                  {
                                    "end": "22:00",
                                    "start": "08:30"
                                  }
                                ],
                                "week_day": 2,
                                "current_slice": {
                                  "end": "22:00",
                                  "start": "08:30"
                                }
                              },
                              "weekly_opening": {
                                "1": {
                                  "hours": [],
                                  "isSpecial": false
                                },
                                "2": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "3": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "4": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "5": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "6": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "7": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "timezone": "Europe/London"
                              },
                              "opening_hours": {
                                "usual": {
                                  "1": [],
                                  "default": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ]
                                },
                                "special": {
                                  "2015-02-07": [
                                    {
                                      "end": "23:00",
                                      "start": "08:00"
                                    }
                                  ]
                                },
                                "timezone": "Europe/London"
                              }
                            },
                            "geometry": {
                              "type": "Point",
                              "coordinates": [
                                -77.1067,
                                38.719
                              ]
                            }
                          }
                        ],
                        "pagination": {
                          "page": 1,
                          "pageCount": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The rate limit for this endpoint has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 429",
                    "value": {
                      "detail": "The rate limit for this endpoint has been exceeded"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L 'https://api.woosmap.com/geolocation/stores?private_key=YOUR_PRIVATE_API_KEY&ip_address=173.79.254.254&limit=1'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const requestOptions = {\n  method: \"GET\",\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.woosmap.com/geolocation/stores?private_key=YOUR_PRIVATE_API_KEY&ip_address=173.79.254.254&limit=1\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.woosmap.com/geolocation/stores?private_key=YOUR_PRIVATE_API_KEY&ip_address=173.79.254.254&limit=1\"\n\npayload = {}\nheaders = {}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          }
        ]
      }
    },
    "/geolocation/timezone": {
      "get": {
        "summary": "Timezone",
        "operationId": "getTimezone",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Geolocation API"
        ],
        "description": "Returns timezone information based on the location, and optionally a timestamp for daylight saving time.\n> Note: rawOffset never contains the dst.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          },
          {
            "PrivateApiKeyHeaderAuth": []
          }
        ],
        "parameters": [
          {
            "description": "The location {lat},{lng}",
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "description": "The UTC timestamp",
            "name": "timestamp",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timezone successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimezoneResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Timezone for 43.6, 3.883 location.",
                    "value": {
                      "timezone": "Europe/Paris",
                      "timezone_name": "CEST",
                      "raw_offset": 3600,
                      "dst_offset": 3600
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The rate limit for this endpoint has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 429",
                    "value": {
                      "detail": "The rate limit for this endpoint has been exceeded"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L 'https://api.woosmap.com/geolocation/timezone?private_key=YOUR_PRIVATE_API_KEY&location=43.6114130%2C3.8735291'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const requestOptions = {\n  method: \"GET\",\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.woosmap.com/geolocation/timezone?private_key=YOUR_PRIVATE_API_KEY&location=43.6114130%2C3.8735291\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.woosmap.com/geolocation/timezone?private_key=YOUR_PRIVATE_API_KEY&location=43.6114130%2C3.8735291\"\n\npayload = {}\nheaders = {}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          }
        ]
      }
    },
    "/stores": {
      "post": {
        "summary": "Create your Assets",
        "operationId": "createStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management"
        ],
        "description": "Used to batch create Assets to a specific project identified with the `private_key` parameter.\n",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body must of Stores Creation be formatted as JSON.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetsCollectionRequest"
              },
              "examples": {
                "default": {
                  "summary": "Stores data to create as JSON",
                  "value": {
                    "stores": [
                      {
                        "types": [
                          "drive",
                          "click_and_collect"
                        ],
                        "tags": [
                          "wifi",
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.719,
                          "lng": -77.1067
                        },
                        "storeId": "STORE_ID_123456",
                        "name": "My Cool Store",
                        "address": {
                          "lines": [
                            "Building Centre",
                            "26 Store Street"
                          ],
                          "countryCode": "UK",
                          "city": "London",
                          "zipcode": "WC1E 7BT"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "Europe/London",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          },
                          "special": {
                            "2015-02-07": [
                              {
                                "start": "08:00",
                                "end": "23:00"
                              }
                            ]
                          }
                        }
                      },
                      {
                        "types": [
                          "drive"
                        ],
                        "tags": [
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.5239,
                          "lng": -77.0157
                        },
                        "storeId": "STORE_ID_45678",
                        "name": "My Cool Store 2",
                        "address": {
                          "lines": [
                            "1805-1899",
                            "Orchard St"
                          ],
                          "countryCode": "US",
                          "city": "Alexandria",
                          "zipcode": "22309"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "America/New_York",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assets successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "default": {
                    "summary": "Success response for Stores Created",
                    "value": {
                      "status": "success",
                      "value": "2 stores"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid. The data is not a valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                },
                "examples": {
                  "Invalid": {
                    "summary": "Error 400",
                    "value": {
                      "status": "error",
                      "value": "The request is invalid, the data is not a valid JSON."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L 'https://api.woosmap.com/stores?private_key=YOUR_PRIVATE_API_KEY' \\\n-H 'content-type: application/json' \\\n--data-raw '{\n  \"stores\": [\n    {\n      \"types\": [\n        \"drive\",\n        \"click_and_collect\"\n      ],\n      \"tags\": [\n        \"wifi\",\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.719,\n        \"lng\": -77.1067\n      },\n      \"storeId\": \"STORE_ID_123456\",\n      \"name\": \"My Cool Store\",\n      \"address\": {\n        \"lines\": [\n          \"Building Centre\",\n          \"26 Store Street\"\n        ],\n        \"countryCode\": \"UK\",\n        \"city\": \"London\",\n        \"zipcode\": \"WC1E 7BT\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"Europe/London\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        },\n        \"special\": {\n          \"2015-02-07\": [\n            {\n              \"start\": \"08:00\",\n              \"end\": \"23:00\"\n            }\n          ]\n        }\n      }\n    },\n    {\n      \"types\": [\n        \"drive\"\n      ],\n      \"tags\": [\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.5239,\n        \"lng\": -77.0157\n      },\n      \"storeId\": \"STORE_ID_45678\",\n      \"name\": \"My Cool Store 2\",\n      \"address\": {\n        \"lines\": [\n          \"1805-1899\",\n          \"Orchard St\"\n        ],\n        \"countryCode\": \"US\",\n        \"city\": \"Alexandria\",\n        \"zipcode\": \"22309\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"America/New_York\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://api.woosmap.com/stores?private_key=YOUR_PRIVATE_API_KEY\"\n\npayload = json.dumps({\n    \"stores\": [\n        {\n            \"types\": [\n                \"drive\",\n                \"click_and_collect\"\n            ],\n            \"tags\": [\n                \"wifi\",\n                \"covered_parking\"\n            ],\n            \"location\": {\n                \"lat\": 38.719,\n                \"lng\": -77.1067\n            },\n            \"storeId\": \"STORE_ID_123456\",\n            \"name\": \"My Cool Store\",\n            \"address\": {\n                \"lines\": [\n                    \"Building Centre\",\n                    \"26 Store Street\"\n                ],\n                \"countryCode\": \"UK\",\n                \"city\": \"London\",\n                \"zipcode\": \"WC1E 7BT\"\n            },\n            \"contact\": {\n                \"website\": \"https://www.woosmap.com\",\n                \"phone\": \"+44 20 7693 4000\",\n                \"email\": \"contact@woosmap.com\"\n            },\n            \"userProperties\": {\n                \"some_user_properties\": \"associated user value\"\n            },\n            \"openingHours\": {\n                \"timezone\": \"Europe/London\",\n                \"usual\": {\n                    \"1\": [],\n                    \"default\": [\n                        {\n                            \"start\": \"08:30\",\n                            \"end\": \"22:00\"\n                        }\n                    ]\n                },\n                \"special\": {\n                    \"2015-02-07\": [\n                        {\n                            \"start\": \"08:00\",\n                            \"end\": \"23:00\"\n                        }\n                    ]\n                }\n            }\n        },\n        {\n            \"types\": [\n                \"drive\"\n            ],\n            \"tags\": [\n                \"covered_parking\"\n            ],\n            \"location\": {\n                \"lat\": 38.5239,\n                \"lng\": -77.0157\n            },\n            \"storeId\": \"STORE_ID_45678\",\n            \"name\": \"My Cool Store 2\",\n            \"address\": {\n                \"lines\": [\n                    \"1805-1899\",\n                    \"Orchard St\"\n                ],\n                \"countryCode\": \"US\",\n                \"city\": \"Alexandria\",\n                \"zipcode\": \"22309\"\n            },\n            \"contact\": {\n                \"website\": \"https://www.woosmap.com\",\n                \"phone\": \"+44 20 7693 4000\",\n                \"email\": \"contact@woosmap.com\"\n            },\n            \"userProperties\": {\n                \"some_user_properties\": \"associated user value\"\n            },\n            \"openingHours\": {\n                \"timezone\": \"America/New_York\",\n                \"usual\": {\n                    \"1\": [],\n                    \"default\": [\n                        {\n                            \"start\": \"08:30\",\n                            \"end\": \"22:00\"\n                        }\n                    ]\n                }\n            }\n        }\n    ]\n})\nheaders = {\n    'content-type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "nodejs",
            "label": "NodeJS",
            "source": "const axios = require('axios');\nlet data = JSON.stringify({\n  \"stores\": [\n    {\n      \"types\": [\n        \"drive\",\n        \"click_and_collect\"\n      ],\n      \"tags\": [\n        \"wifi\",\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.719,\n        \"lng\": -77.1067\n      },\n      \"storeId\": \"STORE_ID_123456\",\n      \"name\": \"My Cool Store\",\n      \"address\": {\n        \"lines\": [\n          \"Building Centre\",\n          \"26 Store Street\"\n        ],\n        \"countryCode\": \"UK\",\n        \"city\": \"London\",\n        \"zipcode\": \"WC1E 7BT\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"Europe/London\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        },\n        \"special\": {\n          \"2015-02-07\": [\n            {\n              \"start\": \"08:00\",\n              \"end\": \"23:00\"\n            }\n          ]\n        }\n      }\n    },\n    {\n      \"types\": [\n        \"drive\"\n      ],\n      \"tags\": [\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.5239,\n        \"lng\": -77.0157\n      },\n      \"storeId\": \"STORE_ID_45678\",\n      \"name\": \"My Cool Store 2\",\n      \"address\": {\n        \"lines\": [\n          \"1805-1899\",\n          \"Orchard St\"\n        ],\n        \"countryCode\": \"US\",\n        \"city\": \"Alexandria\",\n        \"zipcode\": \"22309\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"America/New_York\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n});\n\nlet config = {\n  method: 'post',\n  maxBodyLength: Infinity,\n  url: 'https://api.woosmap.com/stores?private_key=YOUR_PRIVATE_API_KEY',\n  headers: { \n    'content-type': 'application/json'\n  },\n  data : data\n};\n\naxios.request(config)\n.then((response) => {\n  console.log(JSON.stringify(response.data));\n})\n.catch((error) => {\n  console.log(error);\n});\n"
          }
        ]
      },
      "put": {
        "summary": "Update the Assets",
        "operationId": "updateStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management"
        ],
        "description": "Used to update assets in batch. `storeId` must exists when using `PUT` method, if one asset does not exists, the batch will be refused.",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body of Stores Update must be formatted as JSON.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetsCollectionRequest"
              },
              "examples": {
                "default": {
                  "summary": "Stores data to update as JSON",
                  "value": {
                    "stores": [
                      {
                        "types": [
                          "drive",
                          "click_and_collect"
                        ],
                        "tags": [
                          "wifi",
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.719,
                          "lng": -77.1067
                        },
                        "storeId": "STORE_ID_123456",
                        "name": "My Cool Store",
                        "address": {
                          "lines": [
                            "698-500",
                            " Lloyds Ln"
                          ],
                          "countryCode": "US",
                          "city": "Alexandria",
                          "zipcode": "VA 22302"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "Europe/London",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          },
                          "special": {
                            "2015-02-07": [
                              {
                                "start": "08:00",
                                "end": "23:00"
                              }
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assets successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "default": {
                    "summary": "Success response for Stores updated",
                    "value": {
                      "status": "success",
                      "value": "1 stores"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid. The data is not a valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                },
                "examples": {
                  "Invalid": {
                    "summary": "Error 400",
                    "value": {
                      "status": "error",
                      "value": "The request is invalid, the data is not a valid JSON."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L -X PUT 'https://api.woosmap.com/stores?private_key=YOUR_PRIVATE_API_KEY' \\\n-H 'content-type: application/json' \\\n--data-raw '{\n  \"stores\": [\n    {\n      \"types\": [\n        \"drive\",\n        \"click_and_collect\"\n      ],\n      \"tags\": [\n        \"wifi\",\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.719,\n        \"lng\": -77.1067\n      },\n      \"storeId\": \"STORE_ID_123456\",\n      \"name\": \"My Cool Store\",\n      \"address\": {\n        \"lines\": [\n          \"698-500\",\n          \" Lloyds Ln\"\n        ],\n        \"countryCode\": \"US\",\n        \"city\": \"Alexandria\",\n        \"zipcode\": \"VA 22302\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"Europe/London\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        },\n        \"special\": {\n          \"2015-02-07\": [\n            {\n              \"start\": \"08:00\",\n              \"end\": \"23:00\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://api.woosmap.com/stores?private_key=YOUR_PRIVATE_API_KEY\"\n\npayload = json.dumps({\n    \"stores\": [\n        {\n            \"types\": [\n                \"drive\",\n                \"click_and_collect\"\n            ],\n            \"tags\": [\n                \"wifi\",\n                \"covered_parking\"\n            ],\n            \"location\": {\n                \"lat\": 38.719,\n                \"lng\": -77.1067\n            },\n            \"storeId\": \"STORE_ID_123456\",\n            \"name\": \"My Cool Store\",\n            \"address\": {\n                \"lines\": [\n                    \"698-500\",\n                    \" Lloyds Ln\"\n                ],\n                \"countryCode\": \"US\",\n                \"city\": \"Alexandria\",\n                \"zipcode\": \"VA 22302\"\n            },\n            \"contact\": {\n                \"website\": \"https://www.woosmap.com\",\n                \"phone\": \"+44 20 7693 4000\",\n                \"email\": \"contact@woosmap.com\"\n            },\n            \"userProperties\": {\n                \"some_user_properties\": \"associated user value\"\n            },\n            \"openingHours\": {\n                \"timezone\": \"Europe/London\",\n                \"usual\": {\n                    \"1\": [],\n                    \"default\": [\n                        {\n                            \"start\": \"08:30\",\n                            \"end\": \"22:00\"\n                        }\n                    ]\n                },\n                \"special\": {\n                    \"2015-02-07\": [\n                        {\n                            \"start\": \"08:00\",\n                            \"end\": \"23:00\"\n                        }\n                    ]\n                }\n            }\n        }\n    ]\n})\nheaders = {\n    'content-type': 'application/json'\n}\n\nresponse = requests.request(\"PUT\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "nodejs",
            "label": "NodeJS",
            "source": "const axios = require('axios');\nlet data = JSON.stringify({\n  \"stores\": [\n    {\n      \"types\": [\n        \"drive\",\n        \"click_and_collect\"\n      ],\n      \"tags\": [\n        \"wifi\",\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.719,\n        \"lng\": -77.1067\n      },\n      \"storeId\": \"STORE_ID_123456\",\n      \"name\": \"My Cool Store\",\n      \"address\": {\n        \"lines\": [\n          \"698-500\",\n          \" Lloyds Ln\"\n        ],\n        \"countryCode\": \"US\",\n        \"city\": \"Alexandria\",\n        \"zipcode\": \"VA 22302\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"Europe/London\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        },\n        \"special\": {\n          \"2015-02-07\": [\n            {\n              \"start\": \"08:00\",\n              \"end\": \"23:00\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n});\n\nlet config = {\n  method: 'put',\n  maxBodyLength: Infinity,\n  url: 'https://api.woosmap.com/stores?private_key=YOUR_PRIVATE_API_KEY',\n  headers: { \n    'content-type': 'application/json'\n  },\n  data : data\n};\n\naxios.request(config)\n.then((response) => {\n  console.log(JSON.stringify(response.data));\n})\n.catch((error) => {\n  console.log(error);\n});\n"
          }
        ]
      },
      "delete": {
        "summary": "Delete the Assets",
        "operationId": "deleteStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management"
        ],
        "description": "Used to delete one or more assets. The `storeId` specified in `query` parameter is the id of the asset to delete. To delete several assets, use the comma as a separator. To delete all project assets, omit the `query` parameter.\n",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "description": "The query to target assets ID to delete",
            "in": "query",
            "example": "idstore:[{storeId1},{storeId2}]",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assets successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "default": {
                    "summary": "Success response for Stores deleted",
                    "value": {
                      "status": "success",
                      "value": 2
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L -X DELETE 'https://api.woosmap.com/stores/?private_key=YOUR_PRIVATE_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.woosmap.com/stores/?private_key=YOUR_PRIVATE_API_KEY\"\n\npayload = {}\nheaders = {}\n\nresponse = requests.request(\"DELETE\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "nodejs",
            "label": "NodeJS",
            "source": "const axios = require('axios');\n\nlet config = {\n  method: 'delete',\n  maxBodyLength: Infinity,\n  url: 'https://api.woosmap.com/stores/?private_key=YOUR_PRIVATE_API_KEY',\n  headers: { }\n};\n\naxios.request(config)\n.then((response) => {\n  console.log(JSON.stringify(response.data));\n})\n.catch((error) => {\n  console.log(error);\n});\n"
          }
        ]
      }
    },
    "/stores/{storeId}": {
      "get": {
        "summary": "Get Asset from ID",
        "operationId": "getStore",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management"
        ],
        "description": "Used to retrieve an asset from his `storeId`\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          },
          {
            "PrivateApiKeyHeaderAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "STORE_ID_123456",
            "description": "ID of the asset to get"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetFeatureResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Get a store from its store_id",
                    "value": {
                      "type": "Feature",
                      "properties": {
                        "store_id": "10031",
                        "name": "Santa Rosa & Yolanda",
                        "contact": {
                          "phone": "707-527-1006",
                          "website": "https://www.starbucks.com/store-locator/store/10031/santa-rosa-yolanda-2688-santa-rosa-ave-santa-rosa-ca-954077625-us"
                        },
                        "address": {
                          "lines": [
                            "2688 Santa Rosa Ave",
                            "Santa Rosa, CA 95407"
                          ],
                          "country_code": "US",
                          "city": "Santa Rosa",
                          "zipcode": "954077625"
                        },
                        "user_properties": {
                          "take_away": "available"
                        },
                        "tags": [
                          "DT",
                          "WA",
                          "CD",
                          "DR",
                          "LB",
                          "GO",
                          "XO",
                          "MX",
                          "NB",
                          "BE",
                          "LU"
                        ],
                        "types": [
                          "Coffee shop"
                        ],
                        "last_updated": "2022-11-10T13:26:55.066524+00:00",
                        "open": {
                          "open_now": false,
                          "open_hours": [
                            {
                              "end": "20:00",
                              "start": "05:00"
                            }
                          ],
                          "week_day": 2,
                          "next_opening": {
                            "day": "2025-09-16",
                            "start": "05:00",
                            "end": "20:00"
                          }
                        },
                        "weekly_opening": {
                          "1": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "2": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "3": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "4": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "5": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "6": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "7": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "timezone": "America/Los_Angeles"
                        },
                        "opening_hours": {
                          "usual": {
                            "1": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "2": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "3": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "4": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "5": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "6": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "7": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ]
                          },
                          "special": {},
                          "timezone": "America/Los_Angeles"
                        }
                      },
                      "geometry": {
                        "type": "Point",
                        "coordinates": [
                          -122.712924,
                          38.41244
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - `storeId` do not exist."
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L 'https://api.woosmap.com/stores/10031/?key=YOUR_PUBLIC_API_KEY' \\\n-H 'Referer: http://localhost'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const requestOptions = {\n  method: \"GET\",\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.woosmap.com/stores/10031/?key=YOUR_PUBLIC_API_KEY\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.woosmap.com/stores/10031/?key=YOUR_PUBLIC_API_KEY\"\n\npayload = {}\nheaders = {\n    'Referer': 'http://localhost'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          }
        ]
      }
    },
    "/stores/replace": {
      "post": {
        "summary": "Replace all assets",
        "operationId": "replaceStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management"
        ],
        "description": "To replace all your Assets. This endpoint will delete all previous assets and import assets in request body. During the operation previous assets could always be displayed on map. If the import failed previous assets are not deleted.",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body of Stores Replace must be formatted as JSON.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetsCollectionRequest"
              },
              "examples": {
                "default": {
                  "summary": "Stores Data to replace as JSON",
                  "value": {
                    "stores": [
                      {
                        "types": [
                          "drive",
                          "click_and_collect"
                        ],
                        "tags": [
                          "wifi",
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.719,
                          "lng": -77.1067
                        },
                        "storeId": "STORE_ID_123456",
                        "name": "My Cool Store",
                        "address": {
                          "lines": [
                            "Building Centre",
                            "26 Store Street"
                          ],
                          "countryCode": "UK",
                          "city": "London",
                          "zipcode": "WC1E 7BT"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "Europe/London",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          },
                          "special": {
                            "2015-02-07": [
                              {
                                "start": "08:00",
                                "end": "23:00"
                              }
                            ]
                          }
                        }
                      },
                      {
                        "types": [
                          "drive"
                        ],
                        "tags": [
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.5239,
                          "lng": -77.0157
                        },
                        "storeId": "STORE_ID_45678",
                        "name": "My Cool Store 2",
                        "address": {
                          "lines": [
                            "1805-1899",
                            "Orchard St"
                          ],
                          "countryCode": "US",
                          "city": "Alexandria",
                          "zipcode": "22309"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "America/New_York",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assets successfully replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "default": {
                    "summary": "Success response for Stores replaced",
                    "value": {
                      "status": "success",
                      "value": "2 stores deleted, 2 stores created"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid. The data is not a valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                },
                "examples": {
                  "Invalid": {
                    "summary": "Error 400",
                    "value": {
                      "status": "error",
                      "value": "The request is invalid, the data is not a valid JSON."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L 'https://api.woosmap.com/stores/replace?private_key=YOUR_PRIVATE_API_KEY' \\\n-H 'content-type: application/json' \\\n--data-raw '{\n  \"stores\": [\n    {\n      \"types\": [\n        \"drive\",\n        \"click_and_collect\"\n      ],\n      \"tags\": [\n        \"wifi\",\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.719,\n        \"lng\": -77.1067\n      },\n      \"storeId\": \"STORE_ID_123456\",\n      \"name\": \"My Cool Store\",\n      \"address\": {\n        \"lines\": [\n          \"Building Centre\",\n          \"26 Store Street\"\n        ],\n        \"countryCode\": \"UK\",\n        \"city\": \"London\",\n        \"zipcode\": \"WC1E 7BT\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"Europe/London\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        },\n        \"special\": {\n          \"2015-02-07\": [\n            {\n              \"start\": \"08:00\",\n              \"end\": \"23:00\"\n            }\n          ]\n        }\n      }\n    },\n    {\n      \"types\": [\n        \"drive\"\n      ],\n      \"tags\": [\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.5239,\n        \"lng\": -77.0157\n      },\n      \"storeId\": \"STORE_ID_45678\",\n      \"name\": \"My Cool Store 2\",\n      \"address\": {\n        \"lines\": [\n          \"1805-1899\",\n          \"Orchard St\"\n        ],\n        \"countryCode\": \"US\",\n        \"city\": \"Alexandria\",\n        \"zipcode\": \"22309\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"America/New_York\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://api.woosmap.com/stores/replace?private_key=YOUR_PRIVATE_API_KEY\"\n\npayload = json.dumps({\n    \"stores\": [\n        {\n            \"types\": [\n                \"drive\",\n                \"click_and_collect\"\n            ],\n            \"tags\": [\n                \"wifi\",\n                \"covered_parking\"\n            ],\n            \"location\": {\n                \"lat\": 38.719,\n                \"lng\": -77.1067\n            },\n            \"storeId\": \"STORE_ID_123456\",\n            \"name\": \"My Cool Store\",\n            \"address\": {\n                \"lines\": [\n                    \"Building Centre\",\n                    \"26 Store Street\"\n                ],\n                \"countryCode\": \"UK\",\n                \"city\": \"London\",\n                \"zipcode\": \"WC1E 7BT\"\n            },\n            \"contact\": {\n                \"website\": \"https://www.woosmap.com\",\n                \"phone\": \"+44 20 7693 4000\",\n                \"email\": \"contact@woosmap.com\"\n            },\n            \"userProperties\": {\n                \"some_user_properties\": \"associated user value\"\n            },\n            \"openingHours\": {\n                \"timezone\": \"Europe/London\",\n                \"usual\": {\n                    \"1\": [],\n                    \"default\": [\n                        {\n                            \"start\": \"08:30\",\n                            \"end\": \"22:00\"\n                        }\n                    ]\n                },\n                \"special\": {\n                    \"2015-02-07\": [\n                        {\n                            \"start\": \"08:00\",\n                            \"end\": \"23:00\"\n                        }\n                    ]\n                }\n            }\n        },\n        {\n            \"types\": [\n                \"drive\"\n            ],\n            \"tags\": [\n                \"covered_parking\"\n            ],\n            \"location\": {\n                \"lat\": 38.5239,\n                \"lng\": -77.0157\n            },\n            \"storeId\": \"STORE_ID_45678\",\n            \"name\": \"My Cool Store 2\",\n            \"address\": {\n                \"lines\": [\n                    \"1805-1899\",\n                    \"Orchard St\"\n                ],\n                \"countryCode\": \"US\",\n                \"city\": \"Alexandria\",\n                \"zipcode\": \"22309\"\n            },\n            \"contact\": {\n                \"website\": \"https://www.woosmap.com\",\n                \"phone\": \"+44 20 7693 4000\",\n                \"email\": \"contact@woosmap.com\"\n            },\n            \"userProperties\": {\n                \"some_user_properties\": \"associated user value\"\n            },\n            \"openingHours\": {\n                \"timezone\": \"America/New_York\",\n                \"usual\": {\n                    \"1\": [],\n                    \"default\": [\n                        {\n                            \"start\": \"08:30\",\n                            \"end\": \"22:00\"\n                        }\n                    ]\n                }\n            }\n        }\n    ]\n})\nheaders = {\n    'content-type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "nodejs",
            "label": "NodeJS",
            "source": "const axios = require('axios');\nlet data = JSON.stringify({\n  \"stores\": [\n    {\n      \"types\": [\n        \"drive\",\n        \"click_and_collect\"\n      ],\n      \"tags\": [\n        \"wifi\",\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.719,\n        \"lng\": -77.1067\n      },\n      \"storeId\": \"STORE_ID_123456\",\n      \"name\": \"My Cool Store\",\n      \"address\": {\n        \"lines\": [\n          \"Building Centre\",\n          \"26 Store Street\"\n        ],\n        \"countryCode\": \"UK\",\n        \"city\": \"London\",\n        \"zipcode\": \"WC1E 7BT\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"Europe/London\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        },\n        \"special\": {\n          \"2015-02-07\": [\n            {\n              \"start\": \"08:00\",\n              \"end\": \"23:00\"\n            }\n          ]\n        }\n      }\n    },\n    {\n      \"types\": [\n        \"drive\"\n      ],\n      \"tags\": [\n        \"covered_parking\"\n      ],\n      \"location\": {\n        \"lat\": 38.5239,\n        \"lng\": -77.0157\n      },\n      \"storeId\": \"STORE_ID_45678\",\n      \"name\": \"My Cool Store 2\",\n      \"address\": {\n        \"lines\": [\n          \"1805-1899\",\n          \"Orchard St\"\n        ],\n        \"countryCode\": \"US\",\n        \"city\": \"Alexandria\",\n        \"zipcode\": \"22309\"\n      },\n      \"contact\": {\n        \"website\": \"https://www.woosmap.com\",\n        \"phone\": \"+44 20 7693 4000\",\n        \"email\": \"contact@woosmap.com\"\n      },\n      \"userProperties\": {\n        \"some_user_properties\": \"associated user value\"\n      },\n      \"openingHours\": {\n        \"timezone\": \"America/New_York\",\n        \"usual\": {\n          \"1\": [],\n          \"default\": [\n            {\n              \"start\": \"08:30\",\n              \"end\": \"22:00\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n});\n\nlet config = {\n  method: 'post',\n  maxBodyLength: Infinity,\n  url: 'https://api.woosmap.com/stores/replace?private_key=YOUR_PRIVATE_API_KEY',\n  headers: { \n    'content-type': 'application/json'\n  },\n  data : data\n};\n\naxios.request(config)\n.then((response) => {\n  console.log(JSON.stringify(response.data));\n})\n.catch((error) => {\n  console.log(error);\n});\n"
          }
        ]
      }
    },
    "/stores/search": {
      "get": {
        "summary": "Search for assets",
        "operationId": "storeSearch",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Store Search"
        ],
        "description": "Used to retrieve assets from query.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          },
          {
            "PrivateApiKeyHeaderAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/lat"
          },
          {
            "$ref": "#/components/parameters/lng"
          },
          {
            "$ref": "#/components/parameters/radius"
          },
          {
            "$ref": "#/components/parameters/encoded_polyline"
          },
          {
            "$ref": "#/components/parameters/stores_by_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/zone"
          }
        ],
        "responses": {
          "200": {
            "description": "Assets successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetFeatureCollectionResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Search stores nearby a latlng and given a radius",
                    "value": {
                      "type": "FeatureCollection",
                      "features": [
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "2354",
                            "name": "Berkeley Street/Berkeley Square",
                            "contact": {
                              "phone": "02076295779",
                              "website": "https://www.starbucks.com/store-locator/store/2354/berkeley-street-berkeley-square-27-berkeley-st-berkeley-square-london-eng-w-1-x-5-"
                            },
                            "address": {
                              "lines": [
                                "27 Berkeley St",
                                "London, ENG W1X 5AD"
                              ],
                              "country_code": "GB",
                              "city": "London",
                              "zipcode": "W1X 5AD"
                            },
                            "user_properties": {
                              "take_away": "available"
                            },
                            "tags": [
                              "WA",
                              "WF",
                              "CD",
                              "DR",
                              "XO"
                            ],
                            "types": [
                              "Coffee shop"
                            ],
                            "last_updated": "2022-11-10T13:23:53.564829+00:00",
                            "distance": 135.28682936,
                            "open": {
                              "open_now": true,
                              "open_hours": [
                                {
                                  "end": "18:00",
                                  "start": "06:30"
                                }
                              ],
                              "week_day": 2,
                              "current_slice": {
                                "end": "18:00",
                                "start": "06:30"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "5": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "6": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "7": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "timezone": "Europe/London"
                            },
                            "opening_hours": {
                              "usual": {
                                "1": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "2": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "3": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "4": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "5": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "6": [
                                  {
                                    "end": "17:00",
                                    "start": "08:00"
                                  }
                                ],
                                "7": [
                                  {
                                    "end": "17:00",
                                    "start": "08:00"
                                  }
                                ]
                              },
                              "special": {},
                              "timezone": "Europe/London"
                            }
                          },
                          "geometry": {
                            "type": "Point",
                            "coordinates": [
                              -0.14408,
                              51.5088
                            ]
                          }
                        }
                      ],
                      "pagination": {
                        "page": 1,
                        "pageCount": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Incorrect authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Error 401",
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This Woosmap API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 403",
                    "value": {
                      "detail": "This Woosmap API is not enabled for this project."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The rate limit for this endpoint has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Error 429",
                    "value": {
                      "detail": "The rate limit for this endpoint has been exceeded"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -L 'https://api.woosmap.com/stores/search/?lat=51.50976&lng=-0.145276&radius=300&key=YOUR_PUBLIC_API_KEY' \\\n-H 'Referer: http://localhost'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const requestOptions = {\n  method: \"GET\",\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.woosmap.com/stores/search/?lat=51.50976&lng=-0.145276&radius=300&key=YOUR_PUBLIC_API_KEY\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.woosmap.com/stores/search/?lat=51.50976&lng=-0.145276&radius=300&key=YOUR_PUBLIC_API_KEY\"\n\npayload = {}\nheaders = {\n    'Referer': 'http://localhost'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          }
        ]
      }
    },
    "/stores/autocomplete": {
      "get": {
        "summary": "Autocomplete for assets",
        "operationId": "storeAutocomplete",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Store Search"
        ],
        "description": "Autocomplete on `localizedNames` with highlighted results on asset name. Use the field `localized` in your query parameter to search for localized names.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          },
          {
            "PrivateApiKeyHeaderAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/limit-2"
          }
        ],
        "responses": {
          "200": {
            "description": "Assets Successfully Replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetAutocompleteResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Autocomplete on stores in localized names nearby a latlng and specifying a radius",
                    "value": {
                      "predictions": [
                        {
                          "store_id": "2670",
                          "name": "Sun Street",
                          "types": [
[...]
