{
  "openapi": "3.0.3",
  "info": {
    "title": "Woosmap",
    "description": "API Specification for Woosmap",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.woosmap.com"
    }
  ],
  "paths": {
    "/geolocation/position": {
      "get": {
        "summary": "Geolocation from an IP address",
        "operationId": "getGeolocationPosition",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Geolocation API"
        ],
        "description": "The `/position` returns JSON location of your users thanks to IP address of their devices.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ip_address"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "country_code": "US",
                      "country_name": "United States",
                      "continent": "North America",
                      "latitude": 38.719,
                      "longitude": -77.1067,
                      "accuracy": 5,
                      "viewport": {
                        "northeast": {
                          "lat": 38.763915764205976,
                          "lng": -77.0491321464058
                        },
                        "southwest": {
                          "lat": 38.674084235794034,
                          "lng": -77.16426785359421
                        }
                      },
                      "city": "Alexandria",
                      "region_state": "Virginia",
                      "postal_code": "22309",
                      "timezone": "America/New_York"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 UNAUTHORIZED",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 FORBIDDEN",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": {
                      "detail": "Geolocation API is not enabled for this project."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/geolocation/stores": {
      "get": {
        "summary": "Assets nearby a Geolocation",
        "operationId": "getStoresFromGeolocationPosition",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Geolocation API"
        ],
        "description": "Retrieve the stores nearby an ip location. Stores are returned only if a relevant ip location is found - for an accuracy of 20km or less.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ip_address"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationStoresResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "country_code": "US",
                      "country_name": "United States",
                      "continent": "North America",
                      "latitude": 38.719,
                      "longitude": -77.1067,
                      "accuracy": 5,
                      "viewport": {
                        "northeast": {
                          "lat": 38.763915764205976,
                          "lng": -77.0491321464058
                        },
                        "southwest": {
                          "lat": 38.674084235794034,
                          "lng": -77.16426785359421
                        }
                      },
                      "city": "Alexandria",
                      "region_state": "Virginia",
                      "postal_code": "22309",
                      "timezone": "America/New_York",
                      "stores": {
                        "type": "FeatureCollection",
                        "features": [
                          {
                            "type": "Feature",
                            "properties": {
                              "store_id": "STORE_ID_123456",
                              "name": "My Cool Store",
                              "contact": {
                                "email": "contact@woosmap.com",
                                "phone": "+44 20 7693 4000",
                                "website": "https://www.woosmap.com"
                              },
                              "address": {
                                "lines": [
                                  "Building Centre",
                                  "26 Store Street"
                                ],
                                "country_code": "UK",
                                "city": "London",
                                "zipcode": "WC1E 7BT"
                              },
                              "user_properties": {
                                "some_user_properties": "associated user value"
                              },
                              "tags": [
                                "wifi",
                                "covered_parking"
                              ],
                              "types": [
                                "drive",
                                "click_and_collect"
                              ],
                              "distance": 0,
                              "open": {
                                "open_now": false,
                                "open_hours": [],
                                "week_day": 1,
                                "next_opening": {
                                  "end": "22:00",
                                  "start": "08:30",
                                  "day": "2021-12-07"
                                }
                              },
                              "weekly_opening": {
                                "1": {
                                  "hours": [],
                                  "isSpecial": false
                                },
                                "2": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "3": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "4": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "5": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "6": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "7": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "timezone": "Europe/London"
                              },
                              "opening_hours": {
                                "usual": {
                                  "1": [],
                                  "default": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ]
                                },
                                "special": {
                                  "2015-02-07": [
                                    {
                                      "end": "23:00",
                                      "start": "08:00"
                                    }
                                  ]
                                },
                                "timezone": "Europe/London"
                              }
                            },
                            "geometry": {
                              "type": "Point",
                              "coordinates": [
                                -77.1067,
                                38.719
                              ]
                            }
                          }
                        ],
                        "pagination": {
                          "page": 1,
                          "pageCount": 1
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 UNAUTHORIZED",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 FORBIDDEN",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": {
                      "detail": "Geolocation API is not enabled for this project."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stores": {
      "post": {
        "summary": "Create your Assets",
        "operationId": "createStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to batch create Assets to a specific project identified with the `private_key` parameter.\n",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body must be formatted as JSON.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetsCollectionRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "stores": [
                      {
                        "types": [
                          "drive",
                          "click_and_collect"
                        ],
                        "tags": [
                          "wifi",
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.719,
                          "lng": -77.1067
                        },
                        "storeId": "STORE_ID_123456",
                        "name": "My Cool Store",
                        "address": {
                          "lines": [
                            "Building Centre",
                            "26 Store Street"
                          ],
                          "countryCode": "UK",
                          "city": "London",
                          "zipcode": "WC1E 7BT"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "Europe/London",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          },
                          "special": {
                            "2015-02-07": [
                              {
                                "start": "08:00",
                                "end": "23:00"
                              }
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK"
          }
        }
      },
      "put": {
        "summary": "Update the Assets",
        "operationId": "updateStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to update assets in batch. `storeId` must exists when using `PUT` method, if one asset does not exists, the batch will be refused.",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body must be formatted as JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetsCollectionRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "stores": [
                      {
                        "types": [
                          "drive",
                          "click_and_collect"
                        ],
                        "tags": [
                          "wifi",
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.719,
                          "lng": -77.1067
                        },
                        "storeId": "STORE_ID_123456",
                        "name": "My Cool Store",
                        "address": {
                          "lines": [
                            "Building Centre",
                            "26 Store Street"
                          ],
                          "countryCode": "UK",
                          "city": "London",
                          "zipcode": "WC1E 7BT"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "Europe/London",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          },
                          "special": {
                            "2015-02-07": [
                              {
                                "start": "08:00",
                                "end": "23:00"
                              }
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK"
          }
        }
      },
      "delete": {
        "summary": "Delete the Assets",
        "operationId": "deleteStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to delete one or more assets. The `storeId` is the id of the asset to delete. To delete several assets, use the comma as a separator.",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "storeId",
            "description": "The asset ID to delete",
            "in": "query",
            "example": "STORE_ID_123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK"
          }
        }
      }
    },
    "/stores/{storeId}": {
      "get": {
        "summary": "Get Asset from ID",
        "operationId": "getStore",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to retrieve an asset from his `storeId`\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "STORE_ID_123456",
            "description": "ID of the asset to get"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetFeatureResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "type": "Feature",
                      "properties": {
                        "store_id": "boroughmarket",
                        "name": "Borough Market",
                        "contact": {
                          "phone": "020 7407 1002",
                          "website": "http://boroughmarket.org.uk"
                        },
                        "address": {
                          "lines": [
                            "8 Southwark St"
                          ],
                          "country_code": "UK",
                          "city": "London",
                          "zipcode": "SE1 1TL"
                        },
                        "user_properties": {
                          "photo": "https://preview.webgeoservices.com/jsfiddle/boroughmarket.jpeg",
                          "placeId": "ChIJD2bPdVcDdkgRiDyO6mrCsu4"
                        },
                        "tags": [],
                        "types": [
                          "covered"
                        ],
                        "open": {
                          "open_now": true,
                          "open_hours": [
                            {
                              "end": "17:00",
                              "start": "10:00"
                            }
                          ],
                          "week_day": 3,
                          "current_slice": {
                            "end": "17:00",
                            "start": "10:00"
                          }
                        },
                        "weekly_opening": {
                          "1": {
                            "hours": [
                              {
                                "end": "17:00",
                                "start": "10:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "2": {
                            "hours": [
                              {
                                "end": "17:00",
                                "start": "10:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "3": {
                            "hours": [
                              {
                                "end": "17:00",
                                "start": "10:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "4": {
                            "hours": [
                              {
                                "end": "17:00",
                                "start": "10:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "5": {
                            "hours": [
                              {
                                "end": "18:00",
                                "start": "10:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "6": {
                            "hours": [
                              {
                                "end": "17:00",
                                "start": "10:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "7": {
                            "hours": [],
                            "isSpecial": false
                          },
                          "timezone": "Europe/London"
                        },
                        "opening_hours": {
                          "usual": {
                            "5": [
                              {
                                "end": "18:00",
                                "start": "10:00"
                              }
                            ],
                            "7": [],
                            "default": [
                              {
                                "end": "17:00",
                                "start": "10:00"
                              }
                            ]
                          },
                          "timezone": "Europe/London"
                        }
                      },
                      "geometry": {
                        "type": "Point",
                        "coordinates": [
                          -0.090679,
                          51.505046
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 UNAUTHORIZED",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 NOT FOUND - `storeId` do not exist in the project identified with the key parameter."
          }
        }
      }
    },
    "/stores/replace": {
      "post": {
        "summary": "Replace all assets",
        "operationId": "replaceStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "To replace all your Assets. This endpoint will delete all previous assets and import assets in request body. During the operation previous assets could always be displayed on map. If the import failed previous assets are not deleted.",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body must be formatted as JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetsCollectionRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "stores": [
                      {
                        "types": [
                          "drive",
                          "click_and_collect"
                        ],
                        "tags": [
                          "wifi",
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.719,
                          "lng": -77.1067
                        },
                        "storeId": "STORE_ID_123456",
                        "name": "My Cool Store",
                        "address": {
                          "lines": [
                            "Building Centre",
                            "26 Store Street"
                          ],
                          "countryCode": "UK",
                          "city": "London",
                          "zipcode": "WC1E 7BT"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "Europe/London",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          },
                          "special": {
                            "2015-02-07": [
                              {
                                "start": "08:00",
                                "end": "23:00"
                              }
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK"
          }
        }
      }
    },
    "/stores/search": {
      "get": {
        "summary": "Search for assets",
        "operationId": "storeSearch",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Store Search API"
        ],
        "description": "Used to retrieve assets from query\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/query"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetFeatureCollectionResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "type": "FeatureCollection",
                      "features": [
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "boroughmarket",
                            "name": "Borough Market",
                            "contact": {
                              "phone": "020 7407 1002",
                              "website": "http://boroughmarket.org.uk"
                            },
                            "address": {
                              "lines": [
                                "8 Southwark St"
                              ],
                              "country_code": null,
                              "city": "London",
                              "zipcode": "SE1 1TL"
                            },
                            "user_properties": {
                              "photo": "https://preview.webgeoservices.com/jsfiddle/boroughmarket.jpeg",
                              "placeId": "ChIJD2bPdVcDdkgRiDyO6mrCsu4"
                            },
                            "tags": [],
                            "types": [
                              "covered"
                            ],
                            "open": {
                              "open_now": true,
                              "open_hours": [
                                {
                                  "end": "17:00",
                                  "start": "10:00"
                                }
                              ],
                              "week_day": 1,
                              "current_slice": {
                                "end": "17:00",
                                "start": "10:00"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "10:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "10:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "10:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "10:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "5": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "10:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "6": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "10:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "7": {
                                "hours": [],
                                "isSpecial": false
                              },
                              "timezone": "Europe/London"
                            },
                            "opening_hours": {
                              "usual": {
                                "5": [
                                  {
                                    "end": "18:00",
                                    "start": "10:00"
                                  }
                                ],
                                "7": [],
                                "default": [
                                  {
                                    "end": "17:00",
                                    "start": "10:00"
                                  }
                                ]
                              },
                              "timezone": "Europe/London"
                            }
                          },
                          "geometry": {
                            "type": "Point",
                            "coordinates": [
                              -0.090679,
                              51.505046
                            ]
                          }
                        },
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "courssaleya",
                            "name": "Cours Saleya",
                            "contact": {
                              "phone": "04 92 14 46 14",
                              "website": "http://leblogduvieuxnice.nicematin.com/.services/blog/6a0120a864ed46970b0162fd89fc17970d/search?filter.q=marché"
                            },
                            "address": {
                              "lines": [
                                "Place Charles Félix"
                              ],
                              "country_code": null,
                              "city": "Nice",
                              "zipcode": "06300"
                            },
                            "user_properties": {
                              "photo": "https://preview.webgeoservices.com/jsfiddle/courssaleya.jpeg",
                              "placeId": "ChIJw3OrJKPazRIR6WPu_P9ByG4"
                            },
                            "tags": [],
                            "types": [
                              "covered"
                            ],
                            "open": {
                              "open_now": false,
                              "open_hours": [],
                              "week_day": 1,
                              "next_opening": {
                                "end": "17:30",
                                "start": "06:00",
                                "day": "2021-11-16"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "17:30",
                                    "start": "06:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "17:30",
                                    "start": "06:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "17:30",
                                    "start": "06:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "5": {
                                "hours": [
                                  {
                                    "end": "17:30",
                                    "start": "06:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "6": {
                                "hours": [
                                  {
                                    "end": "17:30",
                                    "start": "06:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "7": {
                                "hours": [
                                  {
                                    "end": "13:30",
                                    "start": "06:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "timezone": "Europe/Paris"
                            },
                            "opening_hours": {
                              "usual": {
                                "1": [],
                                "7": [
                                  {
                                    "end": "13:30",
                                    "start": "06:00"
                                  }
                                ],
                                "default": [
                                  {
                                    "end": "17:30",
                                    "start": "06:00"
                                  }
                                ]
                              },
                              "timezone": "Europe/Paris"
                            }
                          },
                          "geometry": {
                            "type": "Point",
                            "coordinates": [
                              7.275492,
                              43.69553
                            ]
                          }
                        }
                      ],
                      "pagination": {
                        "page": 1,
                        "pageCount": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 UNAUTHORIZED",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stores/autocomplete": {
      "get": {
        "summary": "Autocomplete for assets",
        "operationId": "storeAutocomplete",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Store Search API"
        ],
        "description": "Autocomplete on `localizedNames` with highlighted results on asset name. Use the field `localized` in your query parameter to search for localized names.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/query"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetFeatureCollectionResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "type": "FeatureCollection",
                      "features": [
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "boroughmarket",
                            "name": "Borough Market",
                            "contact": {
                              "phone": "020 7407 1002",
                              "website": "http://boroughmarket.org.uk"
                            },
                            "address": {
                              "lines": [
                                "8 Southwark St"
                              ],
                              "country_code": null,
                              "city": "London",
                              "zipcode": "SE1 1TL"
                            },
                            "user_properties": {
                              "photo": "https://preview.webgeoservices.com/jsfiddle/boroughmarket.jpeg",
                              "placeId": "ChIJD2bPdVcDdkgRiDyO6mrCsu4"
                            },
                            "tags": [],
                            "types": [
                              "covered"
                            ],
                            "open": {
                              "open_now": true,
                              "open_hours": [
                                {
                                  "end": "17:00",
                                  "start": "10:00"
                                }
                              ],
                              "week_day": 1,
                              "current_slice": {
                                "end": "17:00",
                                "start": "10:00"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "10:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "10:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "10:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "10:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "5": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "10:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "6": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "10:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "7": {
                                "hours": [],
                                "isSpecial": false
                              },
                              "timezone": "Europe/London"
                            },
                            "opening_hours": {
                              "usual": {
                                "5": [
                                  {
                                    "end": "18:00",
                                    "start": "10:00"
                                  }
                                ],
                                "7": [],
                                "default": [
                                  {
                                    "end": "17:00",
                                    "start": "10:00"
                                  }
                                ]
                              },
                              "timezone": "Europe/London"
                            }
                          },
                          "geometry": {
                            "type": "Point",
                            "coordinates": [
                              -0.090679,
                              51.505046
                            ]
                          }
                        },
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "courssaleya",
                            "name": "Cours Saleya",
                            "contact": {
                              "phone": "04 92 14 46 14",
                              "website": "http://leblogduvieuxnice.nicematin.com/.services/blog/6a0120a864ed46970b0162fd89fc17970d/search?filter.q=marché"
                            },
                            "address": {
                              "lines": [
                                "Place Charles Félix"
                              ],
                              "country_code": null,
                              "city": "Nice",
                              "zipcode": "06300"
                            },
                            "user_properties": {
                              "photo": "https://preview.webgeoservices.com/jsfiddle/courssaleya.jpeg",
                              "placeId": "ChIJw3OrJKPazRIR6WPu_P9ByG4"
                            },
                            "tags": [],
                            "types": [
                              "covered"
                            ],
                            "open": {
                              "open_now": false,
                              "open_hours": [],
                              "week_day": 1,
                              "next_opening": {
                                "end": "17:30",
                                "start": "06:00",
                                "day": "2021-11-16"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "17:30",
                                    "start": "06:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "17:30",
                                    "start": "06:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "17:30",
                                    "start": "06:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "5": {
                                "hours": [
                                  {
                                    "end": "17:30",
                                    "start": "06:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "6": {
                                "hours": [
                                  {
                                    "end": "17:30",
                                    "start": "06:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "7": {
                                "hours": [
                                  {
                                    "end": "13:30",
                                    "start": "06:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "timezone": "Europe/Paris"
                            },
                            "opening_hours": {
                              "usual": {
                                "1": [],
                                "7": [
                                  {
                                    "end": "13:30",
                                    "start": "06:00"
                                  }
                                ],
                                "default": [
                                  {
                                    "end": "17:30",
                                    "start": "06:00"
                                  }
                                ]
                              },
                              "timezone": "Europe/Paris"
                            }
                          },
                          "geometry": {
                            "type": "Point",
                            "coordinates": [
                              7.275492,
                              43.69553
                            ]
                          }
                        }
                      ],
                      "pagination": {
                        "page": 1,
                        "pageCount": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 UNAUTHORIZED",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/localities/autocomplete": {
      "get": {
        "summary": "Autocomplete for Localities",
        "operationId": "localitiesAutocomplete",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Localities API"
        ],
        "description": "Autocomplete on worldwide suggestions for a for text-based geographic searches. It can match on full words as well as substrings. You can therefore send queries as the user types, to provide on-the-fly city names, postal codes or suburb name suggestions.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/localities_input"
          },
          {
            "$ref": "#/components/parameters/localities_types"
          },
          {
            "$ref": "#/components/parameters/localities_components"
          },
          {
            "$ref": "#/components/parameters/localities_language"
          },
          {
            "$ref": "#/components/parameters/localities_data"
          },
          {
            "$ref": "#/components/parameters/localities_extended"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalitiesAutocompleteCollectionResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "localities": [
                        {
                          "public_id": "Ch6qA8cLmvyvEEoFy6nYeFcEdNU=",
                          "description": "London, City of London, United Kingdom",
                          "name": "London",
                          "type": "locality",
                          "location": {
                            "lat": 51.50732,
                            "lng": -0.12764746
                          },
                          "matched_substrings": {
                            "name": [
                              {
                                "offset": 0,
                                "length": 6
                              }
                            ],
                            "admin_1": [
                              {
                                "offset": 8,
                                "length": 6
                              }
                            ],
                            "description": [
                              {
                                "offset": 0,
                                "length": 6
                              },
                              {
                                "offset": 16,
                                "length": 6
                              }
                            ]
                          },
                          "admin_1": "City of London",
                          "locality": "",
                          "admin_0": "United Kingdom"
                        },
                        {
                          "public_id": "8tpkf5LFYQzfpzKxMovi+ObhRuQ=",
                          "description": "London, Ontario, Canada",
                          "name": "London",
                          "type": "locality",
                          "location": {
                            "lat": 42.983673,
                            "lng": -81.2496
                          },
                          "matched_substrings": {
                            "name": [
                              {
                                "offset": 0,
                                "length": 6
                              }
                            ],
                            "description": [
                              {
                                "offset": 0,
                                "length": 6
                              }
                            ]
                          },
                          "admin_1": "Ontario",
                          "locality": "",
                          "admin_0": "Canada"
                        },
                        {
                          "public_id": "lXJg4Ba5ZBZfVfsI9YWje/A4l2o=",
                          "description": "London, Kentucky, United States",
                          "name": "London",
                          "type": "locality",
                          "location": {
                            "lat": 37.12898,
                            "lng": -84.08327
                          },
                          "matched_substrings": {
                            "name": [
                              {
                                "offset": 0,
                                "length": 6
                              }
                            ],
                            "description": [
                              {
                                "offset": 0,
                                "length": 6
                              }
                            ]
                          },
                          "admin_1": "Kentucky",
                          "locality": "",
                          "admin_0": "United States"
                        },
                        {
                          "public_id": "aWawRrKbLmU0+dUpWo5TzH2p4QI=",
                          "description": "London, Ohio, United States",
                          "name": "London",
                          "type": "locality",
                          "location": {
                            "lat": 39.886448,
                            "lng": -83.44825
                          },
                          "matched_substrings": {
                            "name": [
                              {
                                "offset": 0,
                                "length": 6
                              }
                            ],
                            "description": [
                              {
                                "offset": 0,
                                "length": 6
                              }
                            ]
                          },
                          "admin_1": "Ohio",
                          "locality": "",
                          "admin_0": "United States"
                        },
                        {
                          "public_id": "ZLeThT8qWy+GJgMtlX+9jpQJpx8=",
                          "description": "London, Bushbuckridge, South Africa",
                          "name": "London",
                          "type": "locality",
                          "location": {
                            "lat": -24.817778,
                            "lng": 31.047222
                          },
                          "matched_substrings": {
                            "name": [
                              {
                                "offset": 0,
                                "length": 6
                              }
                            ],
                            "description": [
                              {
                                "offset": 0,
                                "length": 6
                              }
                            ]
                          },
                          "admin_1": "Mpumalanga",
                          "admin_2": "Bushbuckridge",
                          "locality": "",
                          "admin_0": "South Africa"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 UNAUTHORIZED",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/localities/details": {
      "get": {
        "summary": "Details of a Locality",
        "operationId": "localitiesDetails",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Localities API"
        ],
        "description": "Provides details of an autocomplete suggestion (using the suggestion’s `public_id`).\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/localities_public_id"
          },
          {
            "$ref": "#/components/parameters/localities_fields"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalitiesDetailsResponse"
                },
                "examples": {
                  "Address": {
                    "value": {
                      "result": {
                        "formatted_address": "House Of Commons, House Of Commons Palace Of Westminster, Parliament Square, London, SW1A 0AA",
                        "types": [
                          "address"
                        ],
                        "public_id": "MVZWBfGZQnAQn9JtE9CJZjgeB4Q=",
                        "geometry": {
                          "location": {
                            "lat": 51.49984,
                            "lng": -0.1246375
                          },
                          "accuracy": "ROOFTOP"
                        },
                        "address_components": [
                          {
                            "types": [
                              "country",
                              "administrative_area_level_0"
                            ],
                            "long_name": "United Kingdom",
                            "short_name": "GB"
                          },
                          {
                            "types": [
                              "administrative_area_level_1"
                            ],
                            "long_name": "City of London",
                            "short_name": "City of London"
                          },
                          {
                            "types": [
                              "premise"
                            ],
                            "long_name": "House Of Commons Palace Of Westminster",
                            "short_name": "House Of Commons Palace Of Westminster"
                          },
                          {
                            "types": [
                              "locality"
                            ],
                            "long_name": "London",
                            "short_name": "London"
                          },
                          {
                            "types": [
                              "postal_codes"
                            ],
                            "long_name": "SW1A 0AA",
                            "short_name": "SW1A 0AA"
                          },
                          {
                            "types": [
                              "organisation"
                            ],
                            "long_name": "House Of Commons",
                            "short_name": "House Of Commons"
                          },
                          {
                            "types": [
                              "route"
                            ],
                            "long_name": "Parliament Square",
                            "short_name": "Parliament Square"
                          }
                        ]
                      }
                    }
                  },
                  "PostalCode": {
                    "value": {
                      "result": {
                        "formatted_address": "SW1A 0AA, City of London",
                        "types": [
                          "postal_code"
                        ],
                        "public_id": "QaCU+fBtigK65ztSrqHqUoUDwZw=",
                        "name": "SW1A 0AA",
                        "geometry": {
                          "location": {
                            "lat": 51.49984,
                            "lng": -0.124663
                          }
                        },
                        "address_components": [
                          {
                            "types": [
                              "country",
                              "administrative_area_level_0"
                            ],
                            "long_name": "United Kingdom",
                            "short_name": "GB"
                          },
                          {
                            "types": [
                              "administrative_area_level_1"
                            ],
                            "long_name": "City of London",
                            "short_name": "City of London"
                          }
                        ],
                        "addresses": {
                          "pagination": {
                            "page": 1,
                            "page_count": 1,
                            "addresses_per_page": 20,
                            "address_count": 5
                          },
                          "list": [
                            {
                              "description": "Postmasters Redirection Service, House Of Commons Palace Of Westminster, Parliament Square, London, SW1A 0AA",
                              "public_id": "DuxKg3/i5t1AuSt1qvwaiSgd+gI="
                            },
                            {
                              "description": "The Speakers House, 1 Parliament Square, London, SW1A 0AA",
                              "public_id": "J9y6c0VHd8L5djgVKAmUZir1D74="
                            },
                            {
                              "description": "Speakers Housekeepers Apartment, House Of Commons Palace Of Westminster, Parliament Square, London, SW1A 0AA",
                              "public_id": "K13iP+XIfYK2h+6NFqVVX2q0NQ8="
                            },
                            {
                              "description": "House Of Commons, House Of Commons Palace Of Westminster, Parliament Square, London, SW1A 0AA",
                              "public_id": "MVZWBfGZQnAQn9JtE9CJZjgeB4Q="
                            },
                            {
                              "description": "Lord Chancellors Residence, House Of Commons Palace Of Westminster, Parliament Square, London, SW1A 0AA",
                              "public_id": "i5WqCPd+qTTnZtiXnKzV8KoIpT8="
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 UNAUTHORIZED",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/address/autocomplete/json": {
      "get": {
        "summary": "Autocomplete for Addresses",
        "operationId": "addressAutocomplete",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Address API"
        ],
        "description": "Autocomplete on worldwide suggestions for a for text-based geographic searches. It can match on full words as well as substrings.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/address_input"
          },
          {
            "$ref": "#/components/parameters/address_components"
          },
          {
            "$ref": "#/components/parameters/address_location"
          },
          {
            "$ref": "#/components/parameters/address_language"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressAutocompleteCollectionResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "predictions": [
                        {
                          "public_id": "aGVyZTpjbTpuYW1lZHBsYWNlOjIwMzM3NDU0",
                          "description": "London, England, United Kingdom",
                          "matched_substring": {
                            "description": [
                              {
                                "offset": 0,
                                "length": 4
                              }
                            ]
                          },
                          "type": "locality"
                        },
                        {
                          "public_id": "aGVyZTpjbTpuYW1lZHBsYWNlOjIxMDg1NjIw",
                          "description": "London, ON, Canada",
                          "matched_substring": {
                            "description": [
                              {
                                "offset": 0,
                                "length": 4
                              }
                            ]
                          },
                          "type": "locality"
                        },
                        {
                          "public_id": "aGVyZTpjbTpuYW1lZHBsYWNlOjIwNDE5Nzgz",
                          "description": "Londonderry, Northern Ireland, United Kingdom",
                          "matched_substring": {
                            "description": [
                              {
                                "offset": 0,
                                "length": 4
                              }
                            ]
                          },
                          "type": "locality"
                        },
                        {
                          "public_id": "aGVyZTpjbTpuYW1lZHBsYWNlOjIzMDM1ODQx",
                          "description": "Londrina, PR, Brazil",
                          "matched_substring": {
                            "description": [
                              {
                                "offset": 0,
                                "length": 4
                              }
                            ]
                          },
                          "type": "locality"
                        }
                      ],
                      "status": "OK"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 UNAUTHORIZED",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/address/details/json": {
      "get": {
        "summary": "Details of an Address",
        "operationId": "addressDetails",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Address API"
        ],
        "description": "Provides details of an address autocomplete suggestion (using the suggestion’s `public_id`).\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/address_public_id"
          },
          {
            "$ref": "#/components/parameters/address_fields"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressDetailsResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "result": {
                        "formatted_address": "London, England, United Kingdom",
                        "types": [
                          "locality"
                        ],
                        "public_id": "aGVyZTpjbTpuYW1lZHBsYWNlOjIwMzM3NDU0",
                        "address_components": [
                          {
                            "types": [
                              "country"
                            ],
                            "long_name": "United Kingdom",
                            "short_name": "GBR"
                          },
                          {
                            "types": [
                              "state"
                            ],
                            "long_name": "England",
                            "short_name": "England"
                          },
                          {
                            "types": [
                              "county"
                            ],
                            "long_name": "London",
                            "short_name": "LDN"
                          },
                          {
                            "long_name": "London",
                            "short_name": "London",
                            "types": [
                              "locality"
                            ]
                          },
                          {
                            "long_name": "SW1A 2",
                            "short_name": "SW1A 2",
                            "types": [
                              "postal_code"
                            ]
                          }
                        ],
                        "geometry": {
                          "location_type": "GEOMETRIC_CENTER",
                          "location": {
                            "lat": 51.50643,
                            "lng": -0.12719
                          },
                          "viewport": {
                            "northeast": {
                              "lat": 51.68629,
                              "lng": 0.28206
                            },
                            "southwest": {
                              "lat": 51.28043,
                              "lng": -0.56316
                            }
                          }
                        }
                      },
                      "status": "OK"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 UNAUTHORIZED",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones": {
      "post": {
        "summary": "Create your Zones",
        "operationId": "createZones",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to batch create Zones to a specific project identified with the `private_key` parameter.\n",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body must be formatted as JSON.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZonesCollectionRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "zones": [
                      {
                        "zone_id": "ZoneA",
                        "description": "Delivery Zone for Store A",
                        "store_id": "store_a",
                        "polygon": "POLYGON ((-122.496116 37.7648181,-122.4954079 37.751518,-122.4635648 37.7530788,-122.4618481 37.7514501,-122.4601315 37.7521288,-122.4565266 37.7513144,-122.4540375 37.7566755,-122.4528359 37.7583041,-122.4515485 37.7595934,-122.4546384 37.774656,-122.4718903 37.7731635,-122.472577 37.772485,-122.4755811 37.7725529,-122.4791001 37.7723493,-122.4793576 37.7713995,-122.4784993 37.769839,-122.4783276 37.7680071,-122.4774693 37.766718,-122.4772118 37.7652931,-122.496116 37.7648181))",
                        "types": [
                          "delivery"
                        ]
                      },
                      {
                        "zone_id": "ZoneB",
                        "description": "Delivery Zone for Store B",
                        "store_id": "store_b",
                        "polygon": "POLYGON ((-122.4546384 37.774656,-122.4515485 37.7595934,-122.4354306 37.7602172,-122.4333707 37.7512596,-122.423071 37.7511239,-122.4242726 37.7687665,-122.4259893 37.7691736,-122.4289075 37.7732444,-122.4306241 37.7850483,-122.4472753 37.7830133,-122.445902 37.7759581,-122.4546384 37.774656))",
                        "types": [
                          "delivery"
                        ]
                      },
                      {
                        "zone_id": "ZoneC",
                        "description": "Delivery Zone for Store C",
                        "store_id": "store_c",
                        "polygon": "POLYGON ((-122.4758889 37.7524995,-122.4751594 37.7321718,-122.4688079 37.7299995,-122.4648597 37.7261979,-122.4519851 37.7228035,-122.4483802 37.7215815,-122.4458053 37.726741,-122.4365356 37.7310857,-122.4315574 37.7324433,-122.4246909 37.7312214,-122.4219444 37.731493,-122.423071 37.7511239,-122.4333707 37.7512596,-122.4354306 37.7602172,-122.4515485 37.7595934,-122.4528628 37.7582744,-122.4540375 37.7566755,-122.4565266 37.7513144,-122.4601315 37.7521288,-122.4618481 37.7514501,-122.4635648 37.7530788,-122.4758889 37.7524995))",
                        "types": [
                          "delivery"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK"
          }
        }
      },
      "put": {
        "summary": "Update the Zones.",
        "operationId": "updateZones",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to update zones in batch. `zone_id` must exists when using `PUT` method, if one zone does not exists, the batch will be refused.",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body must be formatted as JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZonesCollectionRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "zones": [
                      {
                        "zone_id": "ZoneA",
                        "description": "Delivery Zone for Store A",
                        "store_id": "store_a",
                        "polygon": "POLYGON ((-122.496116 37.7648181,-122.4954079 37.751518,-122.4635648 37.7530788,-122.4618481 37.7514501,-122.4601315 37.7521288,-122.4565266 37.7513144,-122.4540375 37.7566755,-122.4528359 37.7583041,-122.4515485 37.7595934,-122.4546384 37.774656,-122.4718903 37.7731635,-122.472577 37.772485,-122.4755811 37.7725529,-122.4791001 37.7723493,-122.4793576 37.7713995,-122.4784993 37.769839,-122.4783276 37.7680071,-122.4774693 37.766718,-122.4772118 37.7652931,-122.496116 37.7648181))",
                        "types": [
                          "delivery"
                        ]
                      },
                      {
                        "zone_id": "ZoneB",
                        "description": "Delivery Zone for Store B",
                        "store_id": "store_b",
                        "polygon": "POLYGON ((-122.4546384 37.774656,-122.4515485 37.7595934,-122.4354306 37.7602172,-122.4333707 37.7512596,-122.423071 37.7511239,-122.4242726 37.7687665,-122.4259893 37.7691736,-122.4289075 37.7732444,-122.4306241 37.7850483,-122.4472753 37.7830133,-122.445902 37.7759581,-122.4546384 37.774656))",
                        "types": [
                          "delivery"
                        ]
                      },
                      {
                        "zone_id": "ZoneC",
                        "description": "Delivery Zone for Store C",
                        "store_id": "store_c",
                        "polygon": "POLYGON ((-122.4758889 37.7524995,-122.4751594 37.7321718,-122.4688079 37.7299995,-122.4648597 37.7261979,-122.4519851 37.7228035,-122.4483802 37.7215815,-122.4458053 37.726741,-122.4365356 37.7310857,-122.4315574 37.7324433,-122.4246909 37.7312214,-122.4219444 37.731493,-122.423071 37.7511239,-122.4333707 37.7512596,-122.4354306 37.7602172,-122.4515485 37.7595934,-122.4528628 37.7582744,-122.4540375 37.7566755,-122.4565266 37.7513144,-122.4601315 37.7521288,-122.4618481 37.7514501,-122.4635648 37.7530788,-122.4758889 37.7524995))",
                        "types": [
                          "delivery"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK"
          }
        }
      },
      "delete": {
        "summary": "Delete the Zones",
        "operationId": "deleteZones",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to delete one or more Zones. The `zone_id` is the id of the zone to delete. To delete several zones, use the comma as a separator.",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "zone_id",
            "description": "The zone ID to delete",
            "in": "query",
            "example": "ZoneA",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK"
          }
        }
      }
    },
    "/zones/{zone_id}": {
      "get": {
        "summary": "Get Zone from ID",
        "operationId": "getZone",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to retrieve a zone from his `zone_id`\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "ZoneA",
            "description": "ID of the zone to get"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone"
                },
                "examples": {
                  "default": {
                    "value": {
                      "zone_id": "ZoneA",
                      "description": "Delivery Zone for Store A",
                      "store_id": "store_a",
                      "polygon": "POLYGON ((-122.4546384 37.774656,-122.4515485 37.7595934,-122.4354306 37.7602172,-122.4333707 37.7512596,-122.423071 37.7511239,-122.4242726 37.7687665,-122.4259893 37.7691736,-122.4289075 37.7732444,-122.4306241 37.7850483,-122.4472753 37.7830133,-122.445902 37.7759581,-122.4546384 37.774656))",
                      "types": [
                        "delivery"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 UNAUTHORIZED",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 NOT FOUND - `zone_id` do not exist in the project identified with the key parameter."
          }
        }
      }
    },
    "/distance/distancematrix/json": {
      "get": {
        "summary": "Distance Matrix",
        "operationId": "getDistanceMatrix",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Distance API"
        ],
        "description": "Get distances and durations for a matrix of origins and destinations, based on the recommended route between start and end points for a specified travel mode.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/distance_origins"
          },
          {
            "$ref": "#/components/parameters/distance_destinations"
          },
          {
            "$ref": "#/components/parameters/distance_mode"
          },
          {
            "$ref": "#/components/parameters/distance_language"
          },
          {
            "$ref": "#/components/parameters/distance_units"
          },
          {
            "$ref": "#/components/parameters/distance_elements"
          },
          {
            "$ref": "#/components/parameters/distance_method"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceMatrixResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "status": "OK",
                      "rows": [
                        {
                          "elements": [
                            {
                              "status": "OK",
                              "duration": {
                                "value": 866,
                                "text": "14 mins"
                              },
                              "distance": {
                                "value": 10613,
                                "text": "10.6 km"
                              }
                            },
                            {
                              "status": "OK",
                              "duration": {
                                "value": 935,
                                "text": "16 mins"
                              },
                              "distance": {
                                "value": 10287,
                                "text": "10.3 km"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 UNAUTHORIZED",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Get Distance Matrix using POST",
        "operationId": "postDistanceMatrix",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Distance API"
        ],
        "description": "Get distances and durations for a matrix of origins and destinations, based on the recommended route between start and end points for a specified travel mode. If the URL size is too short for your origins and destinations, you should request the server using this POST method and passing arguments as json.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body must be formatted as JSON.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistanceMatrixRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "origins": "48.73534,2.368308|48.73534,2.368308",
                    "destinations": "48.83534,2.368308",
                    "units": "imperial",
                    "elements": "duration_distance",
                    "method": "distance"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceMatrixResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "status": "OK",
                      "rows": [
                        {
                          "elements": [
                            {
                              "status": "OK",
                              "duration": {
                                "value": 866,
                                "text": "14 mins"
                              },
                              "distance": {
                                "value": 10613,
                                "text": "10.6 km"
                              }
                            },
                            {
                              "status": "OK",
                              "duration": {
                                "value": 935,
                                "text": "16 mins"
                              },
                              "distance": {
                                "value": 10287,
                                "text": "10.3 km"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 UNAUTHORIZED",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "detail": "Incorrect authentication credentials. Please check or use a valid API Key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/distance/route/json": {
      "get": {
        "summary": "Get Route",
        "operationId": "getRoute",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Distance API"
        ],
        "description": "Get distance, duration and path (as a polyline) for a pair of origin and destination, based on the recommended route between those two points for a specified travel mode.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/distance_origins"
          },
          {
            "$ref": "#/components/parameters/distance_destinations"
          },
          {
            "$ref": "#/components/parameters/distance_mode"
          },
          {
            "$ref": "#/components/parameters/distance_language"
          },
          {
            "$ref": "#/components/parameters/distance_units"
          },
          {
            "$ref": "#/components/parameters/distance_alternatives"
          },
          {
            "$ref": "#/components/parameters/distance_waypoints"
          },
          {
            "$ref": "#/components/parameters/distance_method"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceRouteResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "status": "OK",
                      "routes": [
                        {
                          "overview_polyline": {
                            "points": "w_diHa_fSb@@dAXpD~@~DfAlAn@x@j@v@l@xB|@bBh@Ac@PoBb@oHRuETcEXwDXaDhAaJR}AFkABqCBcBDg@BUT{@`@o@t@i@fA{@fAmA`B{C`@eAr@uBfAaCz@sB`@eAHK|@GdAoABSC]qAsJE]gB\\]qDy@iFIi@Gk@@sAFsDJk@JGDAPITSHY^cCkAk@cBs@gBm@_@K]YW]Me@cAeFgBoIc@uBy@kCk@oB[_BSaBM}ACkAKsGGgJ?k@D{@Ry@~AsCVi@Pw@PmA\\mELaBPyAX{ATy@VkAFm@BaACgAW}CMgBEeBGs@Oy@w@{Cm@cDKe@Wo@oA{B]aAQe@[yAQeAIs@I_AMw@U{@_CuI}AsGi@iCS_B[gECi@AeBB_BFgAv@kHNaBBaA?aAMaECcCPgO@wCEaCUeMQwM@]NcAf@mBHi@Hm@@s@Au@OwEs@oUq@uTMeBSgAiA}EsDaOQu@Ce@~Dgs@vDmp@}Dy@aCy@aB}@eEoC"
                          },
                          "bounds": {
                            "northeast": {
                              "lat": 48.85017,
                              "lng": 3.41085
                            },
                            "southwest": {
                              "lat": 48.84051,
                              "lng": 3.31062
                            }
                          },
                          "summary": "",
                          "legs": [
                            {
                              "distance": {
                                "text": "8.8 km",
                                "value": 8848.7
                              },
                              "duration": {
                                "text": "16 mins",
                                "value": 971.2
                              },
                              "start_location": {
[...]
