{
  "openapi": "3.0.3",
  "info": {
    "title": "Woosmap Platform API Reference",
    "description": "The Woosmap API is a RESTful API built on HTTP. It has predictable resource URLs. It returns HTTP response codes to indicate errors. It also accepts and returns JSON in the HTTP body. You can use your favorite HTTP/REST library for your programming language to use Woosmap's API, or you can use one of our Javascript SDKs for supported APIs:\n  - [Localities JS](https://developers.woosmap.com/products/localities/localities-jsapi/get-started/) (for Localities API)\n  - [MultiSearch JS](https://developers.woosmap.com/products/multisearch-lib/js/get-started/) (for Localities API, Address API and Store Search API)\n  - [Store Locator JS](https://developers.woosmap.com/products/js-api/get-started/) (for Store Search API)\n\n\nYou can use Postman to test the API (if you use the `PUBLIC_API_KEY` authentication, don't forget to set the `Referer` Header corresponding to one of your restricted domain name).\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/18187960-493db7b1-d9ec-4601-b636-90e7b21e14b1?action=collection%2Ffork&collection-url=entityId%3D18187960-493db7b1-d9ec-4601-b636-90e7b21e14b1%26entityType%3Dcollection%26workspaceId%3D81a23af4-1234-4028-9008-32751b59b183)\n",
    "termsOfService": "https://www.woosmap.com/en/policies/terms/",
    "x-document-meta-data": {
      "copyright": "© 2022 Woosmap"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.woosmap.com"
    }
  ],
  "paths": {
    "/geolocation/position": {
      "get": {
        "summary": "Geolocation from an IP address",
        "operationId": "getGeolocationPosition",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Geolocation API"
        ],
        "description": "The `/position` returns JSON location of your users thanks to IP address of their devices.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/geolocation_ip_address"
          },
          {
            "$ref": "#/components/parameters/search_query"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "country_code": "US",
                      "country_name": "United States",
                      "continent": "North America",
                      "latitude": 38.719,
                      "longitude": -77.1067,
                      "accuracy": 5,
                      "viewport": {
                        "northeast": {
                          "lat": 38.763915764205976,
                          "lng": -77.0491321464058
                        },
                        "southwest": {
                          "lat": 38.674084235794034,
                          "lng": -77.16426785359421
                        }
                      },
                      "city": "Alexandria",
                      "region_state": "Virginia",
                      "postal_code": "22309",
                      "timezone": "America/New_York"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/paths/~1zones/put/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1zones/put/responses/403"
          },
          "429": {
            "$ref": "#/paths/~1stores~1search/get/responses/429"
          }
        }
      }
    },
    "/geolocation/stores": {
      "get": {
        "summary": "Assets nearby a Geolocation",
        "operationId": "getStoresFromGeolocationPosition",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Geolocation API"
        ],
        "description": "Retrieve the stores nearby an ip location. Stores are returned only if a relevant ip location is found - for an accuracy of 20km or less.\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/geolocation_ip_address"
          },
          {
            "$ref": "#/components/parameters/geolocation_limit"
          },
          {
            "$ref": "#/components/parameters/search_query"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationStoresResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "country_code": "US",
                      "country_name": "United States",
                      "continent": "North America",
                      "latitude": 38.719,
                      "longitude": -77.1067,
                      "accuracy": 5,
                      "viewport": {
                        "northeast": {
                          "lat": 38.763915764205976,
                          "lng": -77.0491321464058
                        },
                        "southwest": {
                          "lat": 38.674084235794034,
                          "lng": -77.16426785359421
                        }
                      },
                      "city": "Alexandria",
                      "region_state": "Virginia",
                      "postal_code": "22309",
                      "timezone": "America/New_York",
                      "stores": {
                        "type": "FeatureCollection",
                        "features": [
                          {
                            "type": "Feature",
                            "properties": {
                              "store_id": "STORE_ID_123456",
                              "name": "My Cool Store",
                              "contact": {
                                "email": "contact@woosmap.com",
                                "phone": "+44 20 7693 4000",
                                "website": "https://www.woosmap.com"
                              },
                              "address": {
                                "lines": [
                                  "Building Centre",
                                  "26 Store Street"
                                ],
                                "country_code": "UK",
                                "city": "London",
                                "zipcode": "WC1E 7BT"
                              },
                              "user_properties": {
                                "some_user_properties": "associated user value"
                              },
                              "tags": [
                                "wifi",
                                "covered_parking"
                              ],
                              "types": [
                                "drive",
                                "click_and_collect"
                              ],
                              "distance": 0,
                              "open": {
                                "open_now": true,
                                "open_hours": [
                                  {
                                    "end": "22:00",
                                    "start": "08:30"
                                  }
                                ],
                                "week_day": 2,
                                "current_slice": {
                                  "end": "22:00",
                                  "start": "08:30"
                                }
                              },
                              "weekly_opening": {
                                "1": {
                                  "hours": [],
                                  "isSpecial": false
                                },
                                "2": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "3": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "4": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "5": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "6": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "7": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "timezone": "Europe/London"
                              },
                              "opening_hours": {
                                "usual": {
                                  "1": [],
                                  "default": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ]
                                },
                                "special": {
                                  "2015-02-07": [
                                    {
                                      "end": "23:00",
                                      "start": "08:00"
                                    }
                                  ]
                                },
                                "timezone": "Europe/London"
                              }
                            },
                            "geometry": {
                              "type": "Point",
                              "coordinates": [
                                -77.1067,
                                38.719
                              ]
                            }
                          },
                          {
                            "type": "Feature",
                            "properties": {
                              "store_id": "STORE_ID_45678",
                              "name": "My Cool Store 2",
                              "contact": {
                                "email": "contact@woosmap.com",
                                "phone": "+44 20 7693 4000",
                                "website": "https://www.woosmap.com"
                              },
                              "address": {
                                "lines": [
                                  "1805-1899",
                                  "Orchard St"
                                ],
                                "country_code": "US",
                                "city": "Alexandria",
                                "zipcode": "22309"
                              },
                              "user_properties": {
                                "some_user_properties": "associated user value"
                              },
                              "tags": [
                                "covered_parking"
                              ],
                              "types": [
                                "drive"
                              ],
                              "distance": 23062.07621905,
                              "open": {
                                "open_now": true,
                                "open_hours": [
                                  {
                                    "end": "22:00",
                                    "start": "08:30"
                                  }
                                ],
                                "week_day": 2,
                                "current_slice": {
                                  "end": "22:00",
                                  "start": "08:30"
                                }
                              },
                              "weekly_opening": {
                                "1": {
                                  "hours": [],
                                  "isSpecial": false
                                },
                                "2": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "3": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "4": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "5": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "6": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "7": {
                                  "hours": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ],
                                  "isSpecial": false
                                },
                                "timezone": "America/New_York"
                              },
                              "opening_hours": {
                                "usual": {
                                  "1": [],
                                  "default": [
                                    {
                                      "end": "22:00",
                                      "start": "08:30"
                                    }
                                  ]
                                },
                                "timezone": "America/New_York"
                              }
                            },
                            "geometry": {
                              "type": "Point",
                              "coordinates": [
                                -77.0157,
                                38.5239
                              ]
                            }
                          }
                        ],
                        "pagination": {
                          "page": 1,
                          "pageCount": 1
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/paths/~1zones/put/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1zones/put/responses/403"
          },
          "429": {
            "$ref": "#/paths/~1stores~1search/get/responses/429"
          }
        }
      }
    },
    "/stores": {
      "post": {
        "summary": "Create your Assets",
        "operationId": "createStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to batch create Assets to a specific project identified with the `private_key` parameter.\n",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body must be formatted as JSON.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetsCollectionRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "stores": [
                      {
                        "types": [
                          "drive",
                          "click_and_collect"
                        ],
                        "tags": [
                          "wifi",
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.719,
                          "lng": -77.1067
                        },
                        "storeId": "STORE_ID_123456",
                        "name": "My Cool Store",
                        "address": {
                          "lines": [
                            "Building Centre",
                            "26 Store Street"
                          ],
                          "countryCode": "UK",
                          "city": "London",
                          "zipcode": "WC1E 7BT"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "Europe/London",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          },
                          "special": {
                            "2015-02-07": [
                              {
                                "start": "08:00",
                                "end": "23:00"
                              }
                            ]
                          }
                        }
                      },
                      {
                        "types": [
                          "drive"
                        ],
                        "tags": [
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.5239,
                          "lng": -77.0157
                        },
                        "storeId": "STORE_ID_45678",
                        "name": "My Cool Store 2",
                        "address": {
                          "lines": [
                            "1805-1899",
                            "Orchard St"
                          ],
                          "countryCode": "US",
                          "city": "Alexandria",
                          "zipcode": "22309"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "America/New_York",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "default": {
                    "value": {
                      "status": "success",
                      "value": "2 stores"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1zones/put/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1zones/put/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1zones/put/responses/403"
          }
        }
      },
      "put": {
        "summary": "Update the Assets",
        "operationId": "updateStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to update assets in batch. `storeId` must exists when using `PUT` method, if one asset does not exists, the batch will be refused.",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body must be formatted as JSON.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetsCollectionRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "stores": [
                      {
                        "types": [
                          "drive",
                          "click_and_collect"
                        ],
                        "tags": [
                          "wifi",
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.719,
                          "lng": -77.1067
                        },
                        "storeId": "STORE_ID_123456",
                        "name": "My Cool Store",
                        "address": {
                          "lines": [
                            "698-500",
                            " Lloyds Ln"
                          ],
                          "countryCode": "US",
                          "city": "Alexandria",
                          "zipcode": "VA 22302"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "Europe/London",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          },
                          "special": {
                            "2015-02-07": [
                              {
                                "start": "08:00",
                                "end": "23:00"
                              }
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "default": {
                    "value": {
                      "status": "success",
                      "value": "1 stores"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1zones/put/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1zones/put/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1zones/put/responses/403"
          }
        }
      },
      "delete": {
        "summary": "Delete the Assets",
        "operationId": "deleteStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to delete one or more assets. The `storeId` specified in `query` parameter is the id of the asset to delete. To delete several assets, use the comma as a separator. To delete all project assets, omit the `query` parameter.\n",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "description": "The query to target assets ID to delete",
            "in": "query",
            "example": "idstore:[{storeId1},{storeId2}]",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "default": {
                    "value": {
                      "status": "success",
                      "value": 2
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/paths/~1zones/put/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1zones/put/responses/403"
          }
        }
      }
    },
    "/stores/{storeId}": {
      "get": {
        "summary": "Get Asset from ID",
        "operationId": "getStore",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "Used to retrieve an asset from his `storeId`\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "STORE_ID_123456",
            "description": "ID of the asset to get"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetFeatureResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "type": "Feature",
                      "properties": {
                        "store_id": "10031",
                        "name": "Santa Rosa & Yolanda",
                        "contact": {
                          "phone": "707-527-1006",
                          "website": "https://www.starbucks.com/store-locator/store/10031/santa-rosa-yolanda-2688-santa-rosa-ave-santa-rosa-ca-954077625-us"
                        },
                        "address": {
                          "lines": [
                            "2688 Santa Rosa Ave",
                            "Santa Rosa, CA 95407"
                          ],
                          "country_code": "US",
                          "city": "Santa Rosa",
                          "zipcode": "954077625"
                        },
                        "user_properties": null,
                        "tags": [
                          "DT",
                          "WA",
                          "CD",
                          "DR",
                          "LB",
                          "GO",
                          "XO",
                          "MX",
                          "NB",
                          "BE",
                          "LU",
                          "UC"
                        ],
                        "types": [
                          "Coffee shop"
                        ],
                        "open": {
                          "open_now": true,
                          "open_hours": [
                            {
                              "end": "20:00",
                              "start": "05:00"
                            }
                          ],
                          "week_day": 2,
                          "current_slice": {
                            "end": "20:00",
                            "start": "05:00"
                          }
                        },
                        "weekly_opening": {
                          "1": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "2": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "3": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "4": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "5": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "6": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "7": {
                            "hours": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "isSpecial": false
                          },
                          "timezone": "America/Los_Angeles"
                        },
                        "opening_hours": {
                          "usual": {
                            "1": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "2": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "3": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "4": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "5": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "6": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ],
                            "7": [
                              {
                                "end": "20:00",
                                "start": "05:00"
                              }
                            ]
                          },
                          "timezone": "America/Los_Angeles"
                        }
                      },
                      "geometry": {
                        "type": "Point",
                        "coordinates": [
                          -122.712924,
                          38.41244
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/paths/~1zones/put/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1zones/put/responses/403"
          },
          "404": {
            "description": "404 NOT FOUND - `storeId` do not exist."
          }
        }
      }
    },
    "/stores/replace": {
      "post": {
        "summary": "Replace all assets",
        "operationId": "replaceStores",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Data Management API"
        ],
        "description": "To replace all your Assets. This endpoint will delete all previous assets and import assets in request body. During the operation previous assets could always be displayed on map. If the import failed previous assets are not deleted.",
        "security": [
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "The request body must be formatted as JSON.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetsCollectionRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "stores": [
                      {
                        "types": [
                          "drive",
                          "click_and_collect"
                        ],
                        "tags": [
                          "wifi",
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.719,
                          "lng": -77.1067
                        },
                        "storeId": "STORE_ID_123456",
                        "name": "My Cool Store",
                        "address": {
                          "lines": [
                            "Building Centre",
                            "26 Store Street"
                          ],
                          "countryCode": "UK",
                          "city": "London",
                          "zipcode": "WC1E 7BT"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "Europe/London",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          },
                          "special": {
                            "2015-02-07": [
                              {
                                "start": "08:00",
                                "end": "23:00"
                              }
                            ]
                          }
                        }
                      },
                      {
                        "types": [
                          "drive"
                        ],
                        "tags": [
                          "covered_parking"
                        ],
                        "location": {
                          "lat": 38.5239,
                          "lng": -77.0157
                        },
                        "storeId": "STORE_ID_45678",
                        "name": "My Cool Store 2",
                        "address": {
                          "lines": [
                            "1805-1899",
                            "Orchard St"
                          ],
                          "countryCode": "US",
                          "city": "Alexandria",
                          "zipcode": "22309"
                        },
                        "contact": {
                          "website": "https://www.woosmap.com",
                          "phone": "+44 20 7693 4000",
                          "email": "contact@woosmap.com"
                        },
                        "userProperties": {
                          "some_user_properties": "associated user value"
                        },
                        "openingHours": {
                          "timezone": "America/New_York",
                          "usual": {
                            "1": [],
                            "default": [
                              {
                                "start": "08:30",
                                "end": "22:00"
                              }
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "default": {
                    "value": {
                      "status": "success",
                      "value": "2 stores deleted, 2 stores created"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1zones/put/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1zones/put/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1zones/put/responses/403"
          }
        }
      }
    },
    "/stores/search": {
      "get": {
        "summary": "Search for assets",
        "operationId": "storeSearch",
        "servers": [
          {
            "url": "https://api.woosmap.com"
          }
        ],
        "tags": [
          "Store Search API"
        ],
        "description": "Used to retrieve assets from query\n",
        "security": [
          {
            "PublicApiKeyAuth": [],
            "RefererHeader": []
          },
          {
            "PrivateApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/search_query"
          },
          {
            "$ref": "#/components/parameters/search_lat"
          },
          {
            "$ref": "#/components/parameters/search_lng"
          },
          {
            "$ref": "#/components/parameters/search_radius"
          },
          {
            "$ref": "#/components/parameters/search_encoded_polyline"
          },
          {
            "$ref": "#/components/parameters/search_stores_by_page"
          },
          {
            "$ref": "#/components/parameters/search_page"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetFeatureCollectionResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "type": "FeatureCollection",
                      "features": [
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "2354",
                            "name": "Berkeley Street/Berkeley Square",
                            "contact": {
                              "phone": "02076295779",
                              "website": "https://www.starbucks.com/store-locator/store/2354/berkeley-street-berkeley-square-27-berkeley-st-berkeley-square-london-eng-w-1-x-5-"
                            },
                            "address": {
                              "lines": [
                                "27 Berkeley St",
                                "London, ENG W1X 5AD"
                              ],
                              "country_code": "GB",
                              "city": "London",
                              "zipcode": "W1X 5AD"
                            },
                            "user_properties": null,
                            "tags": [
                              "WA",
                              "WF",
                              "CD",
                              "DR",
                              "XO",
                              "UE"
                            ],
                            "types": [
                              "Coffee shop"
                            ],
                            "distance": 135.28682936,
                            "open": {
                              "open_now": true,
                              "open_hours": [
                                {
                                  "end": "18:00",
                                  "start": "06:30"
                                }
                              ],
                              "week_day": 2,
                              "current_slice": {
                                "end": "18:00",
                                "start": "06:30"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "5": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "6": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "7": {
                                "hours": [
                                  {
                                    "end": "17:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "timezone": "Europe/London"
                            },
                            "opening_hours": {
                              "usual": {
                                "1": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "2": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "3": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "4": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "5": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "6": [
                                  {
                                    "end": "17:00",
                                    "start": "08:00"
                                  }
                                ],
                                "7": [
                                  {
                                    "end": "17:00",
                                    "start": "08:00"
                                  }
                                ]
                              },
                              "timezone": "Europe/London"
                            }
                          },
                          "geometry": {
                            "type": "Point",
                            "coordinates": [
                              -0.14408,
                              51.5088
                            ]
                          }
                        },
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "2671",
                            "name": "Berkeley Street",
                            "contact": {
                              "phone": "02076294911",
                              "website": "https://www.starbucks.com/store-locator/store/2671/berkeley-street-52-berkeley-st-london-eng-w-1-j-8-et-gb"
                            },
                            "address": {
                              "lines": [
                                "52 Berkeley St.",
                                "London, ENG W1J 8ET"
                              ],
                              "country_code": "GB",
                              "city": "London",
                              "zipcode": "W1J 8ET"
                            },
                            "user_properties": null,
                            "tags": [
                              "WA",
                              "WF",
                              "CD",
                              "DR",
                              "XO",
                              "NB",
                              "WC",
                              "BC"
                            ],
                            "types": [
                              "Coffee shop"
                            ],
                            "distance": 334.31148224,
                            "open": {
                              "open_now": true,
                              "open_hours": [
                                {
                                  "end": "18:00",
                                  "start": "06:30"
                                }
                              ],
                              "week_day": 2,
                              "current_slice": {
                                "end": "18:00",
                                "start": "06:30"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "5": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "6": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "7": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "timezone": "Europe/London"
                            },
                            "opening_hours": {
                              "usual": {
                                "1": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "2": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "3": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "4": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "5": [
                                  {
                                    "end": "18:00",
                                    "start": "06:30"
                                  }
                                ],
                                "6": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "7": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ]
                              },
                              "timezone": "Europe/London"
                            }
                          },
                          "geometry": {
                            "type": "Point",
                            "coordinates": [
                              -0.1424,
                              51.50735
                            ]
                          }
                        },
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "2888",
                            "name": "Vigo Street",
                            "contact": {
                              "phone": "02077347632",
                              "website": "https://www.starbucks.com/store-locator/store/2888/vigo-street-6-a-vigo-street-london-eng-w-1-s-3-hf-gb"
                            },
                            "address": {
                              "lines": [
                                "6A Vigo Street",
                                "London",
                                "London, ENG W1S 3HF"
                              ],
                              "country_code": "GB",
                              "city": "London",
                              "zipcode": "W1S 3HF"
                            },
                            "user_properties": null,
                            "tags": [
                              "WA",
                              "WF",
                              "CD",
                              "DR",
                              "XO",
                              "NB",
                              "LU",
                              "BA"
                            ],
                            "types": [
                              "Coffee shop"
                            ],
                            "distance": 431.58415682,
                            "open": {
                              "open_now": true,
                              "open_hours": [
                                {
                                  "end": "18:00",
                                  "start": "07:00"
                                }
                              ],
                              "week_day": 2,
                              "current_slice": {
                                "end": "18:00",
                                "start": "07:00"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "5": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "6": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "7": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "timezone": "Europe/London"
                            },
                            "opening_hours": {
                              "usual": {
                                "1": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "2": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "3": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "4": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "5": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "6": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "7": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ]
                              },
                              "timezone": "Europe/London"
                            }
                          },
                          "geometry": {
                            "type": "Point",
                            "coordinates": [
                              -0.13912,
                              51.5103
                            ]
                          }
                        },
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "3047",
                            "name": "West One Centre",
                            "contact": {
                              "phone": "020 76295404",
                              "website": "https://www.starbucks.com/store-locator/store/3047/west-one-centre-381-oxford-street-west-one-centre-london-eng-w-1-c"
                            },
                            "address": {
                              "lines": [
                                "381 Oxford Street",
                                "Unit G13",
                                "London, ENG W1C 2JS"
                              ],
                              "country_code": "GB",
                              "city": "London",
                              "zipcode": "W1C 2JS"
                            },
                            "user_properties": null,
                            "tags": [
                              "WA",
                              "XO"
                            ],
                            "types": [
                              "Coffee shop"
                            ],
                            "distance": 541.85737556,
                            "open": {
                              "open_now": true,
                              "open_hours": [
                                {
                                  "end": "18:00",
                                  "start": "08:00"
                                }
                              ],
                              "week_day": 2,
                              "current_slice": {
                                "end": "18:00",
                                "start": "08:00"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "5": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "6": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "7": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "10:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "timezone": "Europe/London"
                            },
                            "opening_hours": {
                              "usual": {
                                "1": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "2": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "3": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "4": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "5": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "6": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "7": [
                                  {
                                    "end": "18:00",
                                    "start": "10:00"
                                  }
                                ]
                              },
                              "timezone": "Europe/London"
                            }
                          },
                          "geometry": {
                            "type": "Point",
                            "coordinates": [
                              -0.149374,
                              51.513905
                            ]
                          }
                        },
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "2606",
                            "name": "Princes Street W1",
                            "contact": {
                              "phone": "02074958370",
                              "website": "https://www.starbucks.com/store-locator/store/2606/princes-street-w-1-22-23-princes-st-london-eng-w-1-b-2-ly-gb"
                            },
                            "address": {
                              "lines": [
                                "22-23 Princes St",
                                "London, ENG W1B 2LY"
                              ],
                              "country_code": "GB",
                              "city": "London",
                              "zipcode": "W1B 2LY"
                            },
                            "user_properties": null,
                            "tags": [
                              "WA",
                              "WF",
                              "CD",
                              "DR",
                              "XO",
                              "NB",
                              "LU",
                              "BA",
                              "WC",
                              "BC"
                            ],
                            "types": [
                              "Coffee shop"
                            ],
                            "distance": 544.58185978,
                            "open": {
                              "open_now": true,
                              "open_hours": [
                                {
                                  "end": "18:00",
                                  "start": "07:00"
                                }
                              ],
                              "week_day": 2,
                              "current_slice": {
                                "end": "18:00",
                                "start": "07:00"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "5": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "6": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "7": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "timezone": "Europe/London"
                            },
                            "opening_hours": {
                              "usual": {
                                "1": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "2": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "3": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "4": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "5": [
                                  {
                                    "end": "18:00",
                                    "start": "07:00"
                                  }
                                ],
                                "6": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "7": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ]
                              },
                              "timezone": "Europe/London"
                            }
                          },
                          "geometry": {
                            "type": "Point",
                            "coordinates": [
                              -0.142534,
                              51.514346
                            ]
                          }
                        },
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "91351",
                            "name": "Harewood Place",
                            "contact": {
                              "phone": "02074953936",
                              "website": "https://www.starbucks.com/store-locator/store/91351/harewood-place-13-b-hanover-square-london-eng-w-1-s-1-hn-gb"
                            },
                            "address": {
                              "lines": [
                                "13b Hanover Square",
                                "London, ENG W1S 1HN"
                              ],
                              "country_code": "GB",
                              "city": "London",
                              "zipcode": "W1S 1HN"
                            },
                            "user_properties": null,
                            "tags": [
                              "WA",
                              "WF",
                              "RW",
                              "CD",
                              "DR",
                              "XO",
                              "NB",
                              "LU",
                              "BA",
                              "BC"
                            ],
                            "types": [
                              "Coffee shop"
                            ],
                            "distance": 554.73026581,
                            "open": {
                              "open_now": true,
                              "open_hours": [
                                {
                                  "end": "18:00",
                                  "start": "07:30"
                                }
                              ],
                              "week_day": 2,
                              "current_slice": {
                                "end": "18:00",
                                "start": "07:30"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "5": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "6": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "7": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "timezone": "Europe/London"
                            },
                            "opening_hours": {
                              "usual": {
                                "1": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "2": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "3": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "4": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "5": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "6": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "7": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ]
                              },
                              "timezone": "Europe/London"
                            }
                          },
                          "geometry": {
                            "type": "Point",
                            "coordinates": [
                              -0.14402,
                              51.514684
                            ]
                          }
                        },
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "2353",
                            "name": "Carnaby Street",
                            "contact": {
                              "phone": "02074340778",
                              "website": "https://www.starbucks.com/store-locator/store/2353/carnaby-street-34-great-marlborough-st-london-eng-w-1-f-7-jd-gb"
                            },
                            "address": {
                              "lines": [
                                "34 Great Marlborough St",
                                "(Carnaby Street)",
                                "London, ENG W1F 7JD"
                              ],
                              "country_code": "GB",
                              "city": "London",
                              "zipcode": "W1F 7JD"
                            },
                            "user_properties": null,
                            "tags": [
                              "WA",
                              "WF",
                              "CD",
                              "DR",
                              "XO",
                              "NB",
                              "LU",
                              "BA"
                            ],
                            "types": [
                              "Coffee shop"
                            ],
                            "distance": 632.17523247,
                            "open": {
                              "open_now": true,
                              "open_hours": [
                                {
                                  "end": "18:00",
                                  "start": "07:30"
                                }
                              ],
                              "week_day": 2,
                              "current_slice": {
                                "end": "18:00",
                                "start": "07:30"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "5": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "6": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "7": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "timezone": "Europe/London"
                            },
                            "opening_hours": {
                              "usual": {
                                "1": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "2": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "3": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "4": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "5": [
                                  {
                                    "end": "18:00",
                                    "start": "07:30"
                                  }
                                ],
                                "6": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "7": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ]
                              },
                              "timezone": "Europe/London"
                            }
                          },
                          "geometry": {
                            "type": "Point",
                            "coordinates": [
                              -0.13925,
                              51.51402
                            ]
                          }
                        },
                        {
                          "type": "Feature",
                          "properties": {
                            "store_id": "2626",
                            "name": "James Street",
                            "contact": {
                              "phone": "02074956680",
                              "website": "https://www.starbucks.com/store-locator/store/2626/james-street-14-james-street-london-eng-w-1-u-1-ef-gb"
                            },
                            "address": {
                              "lines": [
                                "14 James Street",
                                "London, ENG W1U 1EF"
                              ],
                              "country_code": "GB",
                              "city": "London",
                              "zipcode": "W1U 1EF"
                            },
                            "user_properties": null,
                            "tags": [
                              "WA",
                              "WF",
                              "CD",
                              "DR",
                              "XO",
                              "NB"
                            ],
                            "types": [
                              "Coffee shop"
                            ],
                            "distance": 649.62722685,
                            "open": {
                              "open_now": true,
                              "open_hours": [
                                {
                                  "end": "18:00",
                                  "start": "08:00"
                                }
                              ],
                              "week_day": 2,
                              "current_slice": {
                                "end": "18:00",
                                "start": "08:00"
                              }
                            },
                            "weekly_opening": {
                              "1": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "2": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "3": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "4": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "5": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "6": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "7": {
                                "hours": [
                                  {
                                    "end": "18:00",
                                    "start": "08:00"
                                  }
                                ],
                                "isSpecial": false
                              },
                              "timezone": "Europe/London"
                            },
                            "opening_hours": {
                              "usual": {
                                "1": [
                                  {
                                    "end": "18:00",
[...]
